[2012-07-25 16:31] stemarie opened #2 "NuGet Dependency"
Due to:

Error   1   The type 'System.Net.Http.Formatting.MediaTypeFormatter' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Net.Http.Formatting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

Recommend that you place a dependency on this assembly in the NuGet package(s)

[2012-07-25 17:04] stemarie opened #3 "Make some methods overridable"
Make Post and Send virtual, so that we can override them and include parameters that need to be included everywhere

IE:

public override IRequestBuilder Post<T>(string resource, T body)
        {
            return base.Post(resource, body)
                .WithArgument("outputFormat", "JSON");
        }

[2012-07-25 17:08] #3 closed, assigned to Pathoschild

[2012-07-25 17:19] #2 closed, assigned to Pathoschild

[2016-05-08 01:48] Pathoschild opened #6 "Migrate to PCL"
Migrate the fluent client to [Portable Class Libraries (PCL)](https://msdn.microsoft.com/en-us/library/gg597391(v=vs.100).aspx) so it can be used on multiple .NET platforms. The tentative goal is to support .NET 4.5+, Windows 8+ apps, Universal Windows Platform, ASP.NET Core, and (when it's released) .NET Platform Standard.

(This should also unblock Pathoschild/FluentJira#3.)

## To do
- [x] Conv

[2016-05-08 04:10] Pathoschild commented on #6
Done! Deployed in 2.1.0.

[2016-05-08 04:10] #6 closed

[2016-06-30 15:55] Pathoschild opened #7 "Migrate to .NET Core"
Migrate the fluent client to [.NET Core 1.0](https://www.microsoft.com/net/core#windows) and [.NET Standard](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md).
## To do
- [x] update NuGet packages.
- [x] migrate to `project.json`.
- [ ] migrate to .NET Standard 1.1.

[2016-07-04 15:56] Pathoschild commented on #7
Switched to `project.json` in 2.2, but waiting on aspnet/Home#1558 for the migration to .NET Standard. The pending migration is in the `mod/net-standard` branch.

[2016-12-08 01:37] Jericho commented on #7
I was wondering if there was any progress regarding migration to `netstandard`?

[2016-12-08 01:45] Pathoschild commented on #7
At the time I was waiting on aspnet/Home#1558, which is still open. I'm looking forward to .NET Core 1.2, which looks much more polished; once that's released, I'll see about migrating even if I have to hack around that issue.

Though pull requests are welcome if you'd like to try your hand at it before then. :)

[2016-12-08 01:48] Jericho commented on #7
I just forked, looking into it. First struggle: I can't get nunit to work. I personally use xunit so I'll see if I can easily switch just so I can get past this issue.

[2016-12-08 21:51] Jericho commented on #7
I give up: I am unable to resolve the problem that prevents using the `Microsoft.AspNet.WebApi.Client` package in a `netstandard` library. However, I came up with a workaround. Here's what I propose:

1. Configure the project.json to produce two versions of the Client: one for `net452` and one for `netstandard1.3`
2. Configure the nuspec to bundle both versions in the nuget package. This ensures t

[2016-12-08 22:44] Pathoschild commented on #7
Sure, that sounds good in theory. I'm not opposed to switching to xUnit, but ideally that should be a separate PR (either before or after).

[2016-12-08 23:02] Jericho commented on #7
Have you been able to run the NUnit tests on the `mod\net-standard` branch? I can't get it to work.

[2016-12-08 23:18] Jericho commented on #7
ok I figured out what was wrong: your unit test project is not configured to use the nunit test runner. No need to switch to xUnit after all.

Committing a fix.

[2016-12-08 23:22] Jericho commented on #7
Please note: the `Serialize_IFormattable_WithoutIrreversibleSerialization` unit test is failing. This is due to the fact a 'manifest resource' is missing from the alternative nuget package we are using. I think it's safe to ignore this failure until Microsoft releases a `netstandard1.3` version of their package.

[2016-12-09 05:55] Pathoschild commented on #7
Thanks! I merged in the PR. The changes look fine overall, unit tests pass, and I didn't find anything of concern when I decompiled the WinInsider package. Everything seems to be working fine in one of my .NET Framework projects. Could you confirm the attached NuGet package works fine in your .NET Core projects before I release it?

* [Pathoschild.Http.FluentClient.2.4.0.zip](https://github.com/Pa

[2016-12-09 20:10] Jericho commented on #7
Submitted PR #9 for a correction in nuspec

[2016-12-09 21:40] Jericho opened #10 "There's no easy way to specify authentication"
The readme says that I can create my own implementation of IHttpFilter for authentication but this means that every developer using FluentHttpClient must "reinvent the wheel" for this simple task. Since most API require some form of authentication, I believe FluentHttpClient should make it easier to provide authentication.

I propose the following:

#### We should be able to configure authenticati

[2016-12-09 21:56] Jericho opened #11 "HttpClient should not be disposed if provided"
Say I have the following code in my app:
[code]
This last line will fail because my `httpClient` was disposed by `FluentHttpClient` in the `Dispose(bool isDisposing)` method. If the HtpClient is not passed to the FluentClient constructor, it makes sense for this HttpClient to be disposed. However, FluentClient should never dispose a value that is provided by the developer.

I suggest the following

[2016-12-09 22:32] Jericho opened #12 "Hardcoded User-Agent"
I see two problems with the user-agent:

1. The value is hard-coded (in Factory.cs, on line 45) and I can't provide my own string if desired. I understand the need for a default value in case the developer doesn't care about this string, but I should be able to override it if I want.
2. The current hard coded value starts with: `FluentHttpClient/0.4`. The problem is that the version number is hard

[2016-12-10 00:09] Pathoschild commented on #11
Makes sense to me. Submit the PR and I'll include it in the 2.3 release.

[2016-12-10 00:10] Pathoschild commented on #12
Sounds good! Submit the PR and I'll include it in the 2.3 release.

See also my proposal in #10, which would make this easier.

[2016-12-10 01:15] Pathoschild commented on #10
Your suggestions would work, but I want to keep the main fluent interface as simple as possible (e.g. I wouldn't want to add four methods to support four auth schemes). How about...

* Add an overload like `.Header(IFluentHeader)` to support many authorization schemes without adding an equal number of methods:
[code]
* Which would let us create one filter for any default header:
[code]
* And would

[2016-12-10 01:18] Pathoschild commented on #7
Merged! Here's the new package to test, though I'll wait for your other proposed changes to release them all together.

[Pathoschild.Http.FluentClient.2.3.0.zip](https://github.com/Pathoschild/FluentHttpClient/files/643503/Pathoschild.Http.FluentClient.2.3.0.zip)

[2016-12-10 18:51] Jericho commented on #10
I understand and agree with your desire to keep the interfaces as simple as possible. What I'm suggesting is in line with this desire: my suggestion is to add one single method to the 'client' interface and one method to the 'request' interface. The other methods I mentioned would be extension methods that would simply invoke the new interface methods.

Another important aspect is discoverability,

[2016-12-10 19:04] Pathoschild commented on #10
Sure, submit the PR. :)

[2016-12-10 19:05] Pathoschild commented on #7
If you can confirm this works fine with your .NET Core projects, I'll release 2.3 with it now. The other changes we're discussion can be rolled into 2.4 when they're ready.

[2016-12-10 22:05] Jericho commented on #7
I confirm all my unit tests and integration tests are successful with 2.3.0

[2016-12-10 22:12] Jericho opened #13 "ApiException"
This is more a question that an issue: did you design FluentClient to purposefully throw an exception whenever the HttpResponse is anything other than HTTP200?

The reason I ask is that with the standard HttpClient I would receive a response, check the StatusCode and decide what to do. For example, if the status code is 429 (which means 'TOO MANY REQUESTS') I have code to automatically pause and r

[2016-12-10 22:31] Jericho commented on #13
I found a workaround that works well for me:

[code]

[2016-12-10 22:33] Pathoschild commented on #13
That behaviour is from the `DefaultErrorFilter`, which is just an `IFilter` that throws when it receives a non-success code. It's easy to [replace the filter or remove it outright](https://github.com/Pathoschild/FluentHttpClient#error-handling), in which case it won't throw an exception anymore.

In theory you could auto-retry with an `IFilter`, but it would be messy with the current implementatio

[2016-12-12 00:12] Pathoschild commented on #7
Published on NuGet. Thanks!

[2016-12-12 00:12] #7 closed

[2016-12-15 04:36] Jericho opened #17 "Refactor the FluentClient constructor"
I suggest combining the two overloaded constructors:
[code]
into a single one:
[code]

Also, I suggest adding a new constructor that allows specifying the baseUri as `Uri` instead of a string:
[code]
I will submit a PR.

[2016-12-15 23:49] #11 closed, assigned to Jericho, Pathoschild

[2016-12-16 00:20] Pathoschild commented on #11
Merged into `develop` for the upcoming 2.4 release. Thanks!

[2016-12-16 00:27] #17 closed, assigned to Jericho, Pathoschild

[2016-12-16 00:57] Pathoschild commented on #17
Merged into `develop` for the upcoming 2.4 release. Thanks!

[2016-12-16 01:19] Pathoschild commented on #12
Merged into `develop` for the upcoming 2.4 release. Thanks!

[2016-12-16 01:19] #12 closed, assigned to Jericho, Pathoschild

[2016-12-16 01:23] #13 closed, assigned to Pathoschild

[2016-12-16 22:01] Jericho opened #20 "Exception when getting response AsString and charset is invalid"
Admittedly, this is an edge case but it's something I recently faced when consuming a 3rd party API which returned a misspelled charset in their response. The issue is the built-in `ReadAsStringAsync` method attempts to figure out the proper encoding to use when converting the content of the response's body into a string but due to the misspelling, the `HttpClient` was unable to figure out the enc

[2016-12-16 22:55] Jericho opened #22 "Retry"
It would be convenient to have a way to automatically retry http requests when necessary. The best example I can think of is: some APIs will return a HTTP 429 status code (which means 'TOO MANY REQUESTS') when you exceed the number of request within a certain period of time. The vendor will typically tell you to wait a little bit before retrying you call. Some vendors even include how long you sho

[2016-12-17 23:24] Pathoschild commented on #20
Since this is a niche edge case, I'd rather not support it in the fluent interface. How about using a response filter to fix the charset instead? For example:

[code]

And later:
[code]

[2016-12-18 02:02] Jericho commented on #20
A filter is a good idea but your suggestion hard codes a specific charset. It would be better to overwrite the charset only if the current one is unknown.
[code]

[2016-12-18 03:31] Pathoschild commented on #20
That's just an example of how you'd override the charset, it wasn't meant as a complete solution. Here's a more complete example that sets a fallback encoding when the charset is invalid.

* **Option 1: use the fluent client's extensibility.**
  Create this filter:
[code]

  ...and add it to the client:
[code]

* **Option 2: use the HttpClient's extensibility.**
  Create this HTTP handler:
[code]

[2016-12-18 15:51] Jericho commented on #20
These are two excellent alternatives. I will probably use the filter so no need for my PR. I will close it.

[2016-12-18 15:51] #20 closed, assigned to Pathoschild

[2016-12-22 02:59] Jericho opened #24 "Async methods should accept a concellation token"
The cancellation token allows a long running async method to be cancelled but the FluentClient currently does not accept such a token. I propose adding a parameter for the token to methods such as `DeleteAsync`, `GetAsync`, `SendAsync`, etc.. Of course this parameter should be optional.

I will submit a PR.

[2016-12-22 03:22] Jericho opened #26 "Client interface not as simple as could be"
In a previous issue, we discussed our intent to [keep the client interface as simple as possible](https://github.com/Pathoschild/FluentHttpClient/issues/10#issuecomment-266166386). Specifically, we discussed the fact that we don't want to add many methods to this interface. and I completely agree on this point.

However, I would argue that the current interface is not as simple as can be and there

[2016-12-22 03:33] Jericho commented on #26
By the way, I noticed the `Formatters` property is on the IClient interface and also on the FluentClient class but the `Filters` property is on the FluentClient class but not on the IClient interface. Is that intentional or an oversight?

[2017-01-11 23:21] Jericho opened #28 "Filters property missing from IClient interface"
I noticed that the Filters property is on the FluentClient class but not on the IClient interface. Is that intentional or an oversight? What makes me think it is probably an oversight is that a similar property called Formatters is on the IClient interface and also on the FluentClient class (which I think is correct).

If it's simply an oversight, I'll be happy to submit a PR to correct it.

[2017-01-11 23:22] Jericho commented on #26
Resolved by PR #27

[2017-01-11 23:22] #26 closed, assigned to Jericho

[2017-01-12 01:59] Pathoschild commented on #28
Makes sense, feel free to submit a PR.

[2017-01-12 03:13] #10 closed, assigned to Jericho, Pathoschild

[2017-01-12 03:19] Pathoschild commented on #10
Done in `develop` for the upcoming 2.4 release via PR #15. Thanks!

[2017-01-12 04:34] #28 closed, assigned to Jericho, Pathoschild

[2017-01-12 04:34] Pathoschild commented on #28
Merged into `develop` for the upcoming 2.4 release. Thanks!

[2017-01-12 18:57] Pathoschild commented on #22
@Jericho I'd like to support using [Polly](https://github.com/App-vNext/Polly) and similar libraries, which are pretty powerful. Unfortunately PR #23 wouldn't support that.

Here are a few possible approaches off the top of my head, though I haven't prototyped any of them. Let me know what you think, or if you have different ideas.

## Option 1: multiple response filters
### Proposed implementatio

[2017-01-12 20:45] #24 closed, assigned to Jericho, Pathoschild

[2017-01-12 20:46] Pathoschild commented on #24
Done in `develop` via PR #25 for the upcoming 2.4 release. Thanks!

[2017-01-13 02:42] Jericho commented on #22
As you said, option 1 introduces a lot of complexity and requires coordination between strategies. Like you said, what if one strategy want s to handle the failed called performed by another strategy but also, what if more than one strategy want to retry the same call, etc. To be honest, this would be more complex than what I had in mind.

Option 2 is essentially what I implemented in my PR except

[2017-01-13 03:55] Jericho commented on #22
Here's what I came up with:

1. Add reference to `Polly` nuget package
2. Simplify the IRetryStrategy interface like so:
[code]
3. Replace my custom retry logic code with the following `Polly` policy:
[code]

[2017-01-13 04:06] Pathoschild commented on #22
I don't want the main package to depend on Polly, I just want to let developers use libraries like it if they want to. :)

I understand not wanting developers to write their own logic unnecessarily. How about this compromise: we can create `IRetryStrategy` per my previous comment, but we'll also have an abstract class that enables the simplified interface for delay strategies from your PR:
[code]

[2017-01-13 04:33] Jericho commented on #22
What is the benefit to the developer if we offer them the possibility of using a "retry library" of their choice? To be honest, I don't think they should care **how** the retry logic is implemented in the FluentHttpClient library. In other words, they shouldn't care whether we write custom retry logic or we use the `Polly` nuget package. The only thing they should care about is that HTTP requests

[2017-01-13 05:40] Pathoschild commented on #22
Delayed retry is a common strategy, but it's not the only one. For example:

* **Fallback strategy 1:** if the server is overloaded or offline, call an alternate server instead.

* **Fallback strategy 2:** if the server is overloaded or offline, return a cached response.

* **Circuit breaker strategy:** stop sending requests to the server for a specified interval — because if this request failed w

[2017-01-13 05:59] Jericho commented on #22
Ok, makes sense.

How about we have two interfaces:

- **IRetryStrategy** which allows describing the desired retry strategy (max number of retries, delay between retries, etc)
- **IRequestExecutor** (feel free to suggest a different name) which would be responsible for executing HTTP requests with or without retries. This interface would be simple, probably a single method like `public async Task

[2017-01-13 07:20] Pathoschild commented on #22
I like it. With support for the circuit breaker strategy, the executor might look like this:
[code]

If I understand what you're suggesting correctly, here's a possible implementation of a configurable retry strategy:
[code]
[code]

Does that match what you're thinking?

[2017-01-13 07:50] Jericho commented on #22
I feel we are getting close!

Let me show you a few examples of what I have in mind:

1. Match the current fluent client behavior (no retries):
[code]
**Note**: In actuality, the `NoRetries` executor would be the default executor, so you wouldn't need to explicitly set it.

2. Configure fluent client to retry with a custom strategy:
[code]
3. Override the executor for one specific request (there w

[2017-01-13 16:09] Pathoschild commented on #22
I like it overall. Just a few quibbles:

* We shouldn't have a separate `SetRetryConfig` method if it only affects one implementation. For example, it would do nothing in this case:
[code]
  I would rather add it to the implementation that uses it, which also makes other signatures discoverable:
[code]
* I'm not sure about the 'executor' name. The request is executed by the underlying HTTP client;

[2017-01-13 23:06] Jericho commented on #22
**Your quibble 1**: I agree with you that it makes sense for the IRetryConfig to be a property of the 'executor' object rather than a separate `SetRetryConfig` method. However, I think one common scenario will be for developers to specify the IRetryConfig and assume the default executor is used (that's the way I personally expect to use the retry feature since I don't care about CircuitBreaker and

[2017-01-14 02:10] Pathoschild commented on #22
Having an overload for `IRetryConfig` makes sense to me, I'm okay with 'coordinator' (or at least I can't think of anything better so far), and I'm fine having a constructor that takes a `Func` for the delay. I think we're agreed on the main implementation details, then. 🎊

So to recap based on my understanding:

1. Create `IRequestCoordinator`, which dispatches requests and processes responses at

[2017-01-14 02:30] Jericho commented on #22
Sums it up (almost!) perfectly ;)

One very minor detail: I think the name of the method on the IRequestCoordinator should be a verb like "Execute" for example rather than 'OnRequesting' which to me invokes an event being raised.

I will be offline over the weekend, but I'll be back on Monday to get started.

[2017-01-14 02:35] Pathoschild commented on #22
I'm fine with _Execute_. :)

[2017-01-18 18:42] Jericho opened #32 "Request interface not as simple as could be"
The IRequest interface has three overloads for the `WithBody` method (to be more accurate: there are 2 overloads and the third method is called `WithBodyContent`). Only `WithBodyContent` should be on the interface and the other two methods should be extension methods since they invoke WithBodyContent.

This is similar to the work that was done to simplify the IClient interface as discussed in #26.

[2017-01-18 19:08] Jericho opened #33 "Missing methods for authentication on IClient interface"
In PR #15 I added `SetAuthentication` to IClient and `WithAuthentication` to IRequest. I also added two convenient extension methods `WithBasicAuthentication` and `WithBearerAuthentication` to IRequest.

However, I forgot to add similar extension methods to the IClient interface.

Will submit PR.

[2017-01-19 18:21] Jericho commented on #22
Do you plan to look at the PR to move this forward?

[2017-01-19 18:35] Pathoschild commented on #22
Yep. I rotate between side projects, so my full attention will be back on the PRs in a few days. Let me know if it's urgent (e.g. you need this for an upcoming project), and I'll shuffle my queue. :)

[2017-01-19 18:41] Jericho commented on #22
It's not really _urgent_ but I did put my own project on the backburner in order to focus on this so I'm kind of antsy to move forward. Also, I wrote a long comment on the PR to explain the reasons why I am proposing some changes to the FluentHttpClient that would solve problems related to the retry logic. I hope I clearly explained the challenges I faced and that I made a good case for each propo

[2017-01-19 18:43] Pathoschild commented on #22
Alright. Let me just finish what I'm working on, and I'll go through all the PRs in a couple of hours. :)

[2017-01-19 22:12] #33 closed, assigned to Jericho, Pathoschild

[2017-01-19 22:13] Pathoschild commented on #33
Merged into `develop` for the upcoming 2.4 release. Thanks!

[2017-01-19 22:23] #32 closed, assigned to Jericho, Pathoschild

[2017-01-19 22:23] Pathoschild commented on #32
Merged into `develop` for the upcoming 2.4 release. Thanks!

[2017-01-21 22:43] Pathoschild opened #36 "Review design decisions"
The next version will be 3.0 since we have breaking changes as part of #22 and #31. Since we're already incrementing the major version, review the design decisions taken in earlier versions in case there are other breaking changes we should consider.

## To do
* [x] `AsList<T>()` should return `T[]` instead of `List<T>`.
* [x] `AsList<T>()` should be named `AsArray<T>()`.
* [x] Eliminate obsolete

[2017-01-21 22:44] Pathoschild commented on #36
To consider:
- `AsList<T>()` should return `T[]` instead of `List<T>` (suggested by @Jericho).
- The client throws exceptions by default for non-success responses. Should we rethink the default error-handling logic?

[2017-01-21 23:34] Jericho commented on #36
Originally I was strongly in favor of removing the default error handling for at least two reasons:

- when I started using the FluentHttpClient package I was not aware that this behavior was overidable(I guess I didn't pay attention to the 'Error Handling' section in the ReadMe!)
- I was trying to write my own retry logic to handle HTTP 429 "Too many requests" but the default error handling was i

[2017-01-21 23:36] Jericho commented on #36
Another breaking change to consider:

- Getting rid of the obsolete `JsonNetFormatter`.

[2017-01-21 23:39] Jericho commented on #36
Regarding `AsList`, I propose not only changing the returned type but also changing the name of the method to `AsArray`.

[2017-01-22 22:34] #22 closed, assigned to Jericho, Pathoschild

[2017-01-22 22:34] Pathoschild commented on #22
Merged into `develop` for the upcoming 3.0 release. Thanks!

[2017-01-23 02:44] Pathoschild commented on #36
I removed `JsonNetFormatter` and changed `response.AsList<T>()` to return an array.

I'm not sure about renaming `AsList` though; the name refers to a conceptual list of resources, not the data structure that represents it. I'm not necessarily opposed to renaming it, though. What do you think?

[2017-01-23 02:47] Pathoschild commented on #36
The current error-handling behaviour can be counterintuitive. For example, consider the following code:

[code]

If the response code isn't `HttpStatusCode.OK`, the `if` check will never be reached since an exception will be thrown instead. The only way around that would be to remove the `ErrorFilter` from the client before making the request. I'm not sure what the best way to handle that would be

[2017-01-23 04:18] Pathoschild opened #37 "Switch to MIT license"
The client uses the [CC-BY 3.0 license](https://creativecommons.org/licenses/by/3.0/), which [isn't well-suited to software](https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software). That makes redistributing software with the fluent client legally ambiguous, which wasn't the intention.

I propose switching to the [MIT license](https://choosealicense.com/licenses/mit/).

[2017-01-23 13:44] Jericho commented on #37
I agree with switching to MIT license.

[2017-01-23 13:45] dwfrancis commented on #37
No objections here.

On Mon, Jan 23, 2017, 08:44 Jericho <notifications@github.com> wrote:

[2017-01-23 13:51] lostdev commented on #37
That's fine by me as well.

[2017-01-23 14:40] Jericho commented on #36
**Re AsList**: personally I would find it confusing if the method name contained 'List' but it returned an array.

**Re Error handling**: what you just described is exactly what I experienced when I started using FluentHttpClient and I had to change all my code which was checking the status code of the response with try ... catch. I didn't realize that the error handling filter could be removed un

[2017-01-23 15:43] Pathoschild commented on #37
Done in `develop` for the upcoming 3.0 release. Thanks!

[2017-01-23 15:43] #37 closed, assigned to Pathoschild

[2017-01-23 18:30] Pathoschild commented on #36
Fair enough, I renamed `AsList<T>()` to `AsArray<T>()`.

[2017-01-23 20:35] Pathoschild opened #38 "Rethink error-handling"
The client throws exceptions by default for non-success responses. Should we rethink the default error-handling logic?

[2017-01-23 20:39] Pathoschild commented on #38
Split from #36. Related discussion from that ticket:

* @Jericho said:

* @Pathoschild said:

* @Jericho said:

[2017-01-23 20:39] Pathoschild commented on #36
I split the error-handling discussion to #38.

[2017-01-23 21:34] Pathoschild commented on #38
## How other clients do it
Here's how some of the other C# API clients handle errors. For each one, I added an example of how you'd fetch a deserialised model but throw a relevant exception with the response data on error.

### `HttpClient`
The built-in client doesn't automatically handle errors, but it provides a `response.IsSuccessStatusCode` property.

[code]

### RestSharp
[RestSharp](https://

[2017-01-24 01:29] Pathoschild commented on #38
### Use cases
I think FluentHttpClient aims to solve two main use cases:

* **Simple content fetch:** execute the request, parse the response, and only continue if it worked. For example:

[code]

  This is the default behaviour.

* **Fetch response as-is:** execute the request and read the response data as-is. If the request fails, your code is responsible for handling that. For example:

[code]

[2017-01-24 16:42] Jericho commented on #38
I definitely like the discoverable `ThrowErrors` but I'm not convinced we need the 'ThrowIfFailed' method. Why not simply:
[code]
This would save developers from implementing the `ThrowIfFailed` method even if they don't need to when writing a custom HttpFilter.

[2017-01-24 16:46] Jericho commented on #36
Two additional breaking changes to consider:
- The `OnRequest` method on the `IHttpFilter` interface accepts a `IRequest` and a `HttpRequestMessage` parameters. This is not necessary since `IRequest` has a read-only `Message` property.
- The `OnResponse` method on the `IHttpFilter` interface accepts a `IResponse` and a `HttpResponseMessage` parameters. This is not necessary since `IResponse` has a

[2017-01-24 17:40] Pathoschild commented on #38
That would work, but I think we should distinguish between "real" exceptions (which might happen in `OnResponse`) and response-status-as-exceptions (which are an optional feature) to make the convention more discoverable when implementing a filter.

How about adding a base class so each implementation only overrides the methods it needs? For example:

[code]

[2017-01-24 18:00] Jericho commented on #38
If I have registered 4 filters, does that mean that 4 (potentially) different `ThrowIfFailed` would be invoked?

I would prefer if there was a way to designate a "error" filter which would be separate from all other filters. Maybe something like `client.SetErrorHandler(new MyCustomHandler());`

[2017-01-24 18:16] Pathoschild commented on #38
Yep. The client will stop at the first one that throws an exception. That means it's easy to create handlers for specific error types:
[code]

[2017-01-24 18:24] Jericho commented on #38
Any way to differentiate a error handling filter from other filters?

Maybe something like
[code]

[2017-01-24 18:31] Pathoschild commented on #38
Maybe? I'd prefer to minimise the number of extensibility points though, to make it easier to document and understand. With my scheme, you only need to implement the methods you need but all filters are added the same way. What's the advantage of differentiating error filters?

[2017-01-24 18:38] Jericho commented on #38
I am just trying to figure out a way where I don't need to worry about error handling when writing a "regular" filter and I don't need to worry about handling "regular" events when writing an error handler.

Besides, it would help with something similar to:
[code]

[2017-01-24 18:43] Jericho commented on #38
Another thought just occurred to me: consider the scenario where I set `throwErrors` to false and also register `Error404Filter`. If there's no way to differentiate an error handler from a "regular" filter, we won't be able to respect "ThrowErrors".

[2017-01-24 18:57] Jericho commented on #38
If you prefer to minimize extension points (which is perfectly legitimate objective), I would stick to the original filter interface (I don't see a need for `ThrowIfFailed`) and document the fact that each filter is responsible for checking the value of `ThrowErrors` and decide whether they want to respect it or not, similar to the [example](https://github.com/Pathoschild/FluentHttpClient/issues/3

[2017-01-24 19:04] Pathoschild commented on #38
When writing a filter, you'd only need to worry about the methods you choose to override. The base class would have default empty implementations of all methods. It's the same approach used by [Web API action filters](https://msdn.microsoft.com/en-us/library/gg416513(vs.98).aspx), for example.

One thing to consider is that there isn't really such a thing as a "regular" or "error" filter — a filte

[2017-01-24 19:05] Pathoschild commented on #38
Though maybe we could pass an argument like `bool throwErrorAsException` into `OnResponse`, instead of having a separate `ThrowIfFailed` method?

[2017-01-24 19:08] Jericho commented on #38
Yes I prefer passing a `bool` to `OnResponse` and sticking to the original `IHttpFilter` interface . Or, even better: why not add a read-only `ThrowIfFailed` bool property on `IResponse`.

[2017-01-24 19:13] Pathoschild commented on #38
It doesn't make sense as part of `IResponse`, because any exception has already been thrown by the time any code (except the filters themselves) get access to it. I'd be okay with a `bool` argument to `OnResponse`, though.

[2017-01-24 19:17] Jericho commented on #38
I'm fine with that.

[2017-01-24 19:25] Pathoschild commented on #38
So to recap, here's the implementation:
1. For `IRequest` methods which start the chain (like `GetAsync`), add a `bool httpErrorAsException = true` argument.
2. For `IHttpFilter::OnResponse`, add a `bool httpErrorAsException` argument.
2. Change `DefaultErrorFilter` to only throw if that argument is `true`.

Is that correct? Let me know if you want to tweak the argument names.

[2017-01-24 19:29] Jericho commented on #38
I agree with 1, 2 and 3. Also, we need either a parameter in the FluentHttpClient constructor or a fluent method to set HttpErrorAsException.

Also, do you think we should pluralize: `HttpErrorsAsExceptions`?

[2017-01-24 19:32] Pathoschild commented on #38
That's a good idea, but in that case the `IRequest` arguments would need to be something like `bool? httpErrorAsException = null` which is less intuitive.

[2017-01-24 19:36] Jericho commented on #38
Why make it nullable? Let's just make a decision that `httpErrorAsException` is true by default (to match current behavior). I other words: `bool httpErrorAsException = true`

[2017-01-24 19:42] Pathoschild commented on #38
That's fine by itself, but consider this code:

[code]

Intuitively this shouldn't throw an exception, because you `SetHttpErrorAsException(false)` and didn't specify otherwise. But because `GetAsync` has a default `httpErrorAsException = true` value, that code is equivalent to this:

[code]

[2017-01-24 19:49] Jericho commented on #38
I didn't realize you intended to allow setting `httpErrorAsException` at the request level in addition to the client level but I don't see that as a problem. In fact, this would be very similar to "Authentication" that we allow you to set the default at the client level and allow you to override it at the request level. We have `SetAuthentication` at the client level and `WithAuthentication` at th

[2017-01-24 20:26] Pathoschild commented on #38
I like the `GetAsync` etc argument because it's more discoverable, but I'd be okay with `Set/WithHttpErrorAsException(bool shouldThrow = true)` instead.

Having fluent methods toggle the `DefaultErrorFilter` would be confusing when you have custom filters in play. For example, the behaviour would not be intuitive in this case:

[code]

[2017-01-24 20:32] Jericho commented on #38
To get rid of all this possible confusion, what do you think of the idea I [presented](https://github.com/Pathoschild/FluentHttpClient/issues/38#issuecomment-274917668) which would look like this:
[code]

[2017-01-24 21:51] Pathoschild commented on #38
That would work, but the fluent client is often used to build a client library for a particular API. If the library adds its own error filters, it'd be convenient as a user to be able to handle the response anyway:

[code]

I'd be fine adding a `client.Filters.RemoveDefaultErrorHandling()` extension too though, since `DefaultErrorFilter` is an implementation detail.

[2017-01-24 22:01] Jericho commented on #38
I'm not sure I understand your statement

I think what I'm suggesting allows exactly that: the developer can decide if the default error handler is registered or not and also add their own error handler if desired. They can have both the default handler AND custom filter registered at the same time if desired. I think that's the most flexible solution.

To be clear, what I'm saying is:

- we drop

[2017-01-25 04:04] Pathoschild commented on #38
I see three use cases relevant to this discussion:

* **Scenario 1: one client for one request.**
  This is the simplest case, with a one-off instance of the client. Any changes to the client only affect this request. No problem here.

[code]

* **Scenario 2: one client for multiple requests.**
  This is a common case: set up the API client once, then send multiple requests with it. This is actual

[2017-01-25 04:55] Jericho commented on #38
_Note: the following paragraph is written in a 'tongue in check' tone, but I'm still trying to  make a serious point ;-)_

I feel like you just move the goal post! You added a new requirement: you don't want the client to be modified because that could affect other requests when a single client is shared. If that's the case, we need to remove all other fluent methods that also modify the client su

[2017-01-25 05:40] Pathoschild commented on #38
Debate is healthy. I made some design mistakes early on because there was nobody to poke holes in them, so your argumentativeness is appreciated. ;)

No goalposts were moved — every client method (like `SetAuthentication`) has an equivalent request method (like `WithAuthentication`) so all three use cases are supported. Ideally everything that's configurable globally (`IClient::SetX`) should also

[2017-01-25 05:43] Pathoschild commented on #38
PS: maybe we can draft a _design principles_ document sometime to cover the conventions (like `SetX` vs `WithX`, using fluent methods, etc) and intended use cases (like the scenarios above)? It might be a useful reference when thinking of how we'd implement future features.

[2017-01-25 06:02] Jericho commented on #38
1. `IClient::SetDefaultErrorFilter(true|false)` is perfect. It allows us to set at the client level whether we want the default error handler of not. I would even add `IRequest::WithDefaultErrorFilter(true|false)`.
2. Personally, I don't envision myself registering error filters and later on using `IClient::SetHttpErrorAsException(false)` and `IRequest::WithHttpErrorAsException(false)`. To me, tha

[2017-01-25 15:39] Pathoschild commented on #38
I do think `Set/WithHttpErrorAsException` would be useful in some scenarios as outlined above. It lets the user decide whether to use automatic error-handling in a semantic way, so custom filters can respect that intention. I think the impact of a few noop calls after a network await is negligible, but we could have a separate `OnResponseValidating` method that isn't called if `httpErrorAsExceptio

[2017-01-25 18:43] Jericho opened #39 "Remove<TFilter> extension method accepts wrong parameter type"
We recently changed the type of the `Filters` property to `ICollection<IHttpFilter>` but we forgot to also adjust the signature of the `Remove` extension method.

I'll submit a PR.

[2017-01-26 19:08] Jericho opened #41 "Downgrade System.Net.Http"
The NETFULL (i.e. .net 4.5.2) target of my library currently references the System.Net.Http nuget package which I intend to replace with FluentHttpClient as soon as the next release with "retries" is publicly available. A user recently opened a [ticket](https://github.com/Jericho/StrongGrid/issues/109) to complain that he can't use my library because System.Net.Http 4.0.0 requires a version of the

[2017-01-27 01:33] #39 closed, assigned to Jericho, Pathoschild

[2017-01-27 01:33] Pathoschild commented on #39
Merged into `develop` for the upcoming 3.0 release. Thanks!

[2017-01-27 03:42] Pathoschild commented on #41
I'd rather not depend on such an old version because NuGet [automatically installs the lowest compatible version of the dependency](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#dependency-resolution-rules). That means new projects would automatically get one of the earliest versions of HttpClient, with none of the bugfixes and improvements since 2012.

How about pu

[2017-01-27 03:59] Jericho commented on #41
Yea, that's probably what I'll end up doing. To be honest with you, I don't even have access to VS 2013, so I can't even do any kind of testing so I don't really want to support it, at least not "officially".

[2017-01-27 04:15] #41 closed, assigned to Jericho

[2017-01-27 04:30] Pathoschild commented on #36
Makes sense to me. Done in `develop`. :)

[2017-01-27 04:47] Pathoschild commented on #38
Can we move the `client.SetDefaultErrorFilter(bool)` method to `client.Filters.UseDefaultErrorFilter(bool)`? In retrospect...

* Having it on the root interface is confusing because:
  * When you're adding custom filters, you're accessing `client.Filters` anyway and would expect filter-related methods to be there.
  * When you aren't adding custom filters, it has the same effect as `client.SetHttp

[2017-01-27 05:03] Jericho commented on #38
I agree with changing the name to `UseDefault ...` rather than `SetDefault ...` but I do not agree with moving it from the root to `Filters`. The reason is because, when I started using FluentHtppClint, I didn't know that error handling was controlled by a filter. Therefore it wouldn't have occurred to me to look under `client.Filters` to find a way to turn on/off the default error handling.

Sinc

[2017-01-27 05:13] Jericho commented on #38
And also, what about the idea of completely abandoning error handling? Developers have to either check the `StatusCode` (which they are used to doing with .net's HttpClient) or they write their own filter. Period. That's simpler for us and easy for them to understand!

[2017-01-27 05:29] Pathoschild commented on #38
I don't think abandoning error-handling outright makes sense. I think ['simple content fetch'](https://github.com/Pathoschild/FluentHttpClient/issues/38#issuecomment-274673806) is the main use case, and there's no way for the user to check the response along those paths:

[code]

The `Set/WithHttpErrorsAsException` methods solve the problem where you can't check the response without dealing with f

[2017-01-28 01:48] Pathoschild commented on #38
Added `Set/WithHttpErrorAsException` in `develop` for the upcoming 3.0 release; pending a decision on the `SetDefaultErrorFilter` method.

[2017-01-28 01:50] Pathoschild commented on #36
I'll close this since the proposed changes are done, but feel free to reopen if anything else comes up before 3.0 releases.

[2017-01-28 01:50] #36 closed, assigned to Pathoschild

[2017-01-30 02:01] Jericho opened #42 "Make Request.Filters public"
This is related to discussion #38, but I thought it warranted a separate ticket.

Is there a reason `Request.Filters` is private instead of being public? I'm asking because I have a custom error handler that I need for all the calls to the vendor API except for one specific request where I need to remove this error handler. I still need the default error handler in case the vendor API throws  HTTP

[2017-01-31 00:13] Pathoschild commented on #42
Hmm. It was deliberately internal since I considered it an implementation detail, but that's a valid use case. I'm okay with exposing it.

[2017-01-31 01:09] Jericho commented on #42
Excellent, I'll submit PR

[2017-01-31 18:56] Jericho commented on #38
The fact that I can add/remove error filter on the client and also on the request (when PR #43 is merged), I am completely happy and I fee all my scenarios are addressed. I can remove the default handler if I want to, I can add my own handler and I can remove the handler from a specific request. As far as I'm concerned, this addresses all my requirements. I am now well educated on how this works a

[2017-02-01 01:01] #42 closed, assigned to Jericho, Pathoschild

[2017-02-01 01:02] Pathoschild commented on #42
Merged into `develop` for the upcoming 3.0 release. Thanks!

[2017-02-01 01:05] Pathoschild commented on #38
Excellent. The changes for this ticket are done and #43 is merged into the 3.0 release, so I'll mark this done.

[2017-02-01 01:05] #38 closed, assigned to Pathoschild

[2017-02-01 01:09] Pathoschild opened #44 "Polish & release 3.0"
This is just a tracking ticket to finalise the 3.0 release:

* [x] Ensure code conventions are applied, all code is documented, etc.
* [x] Ensure all unit tests pass.
* [x] Polish documentation, release notes, etc.
* [x] Test the client in a few projects.
* [ ] Deploy to NuGet.

[2017-02-01 01:24] Jericho opened #45 "What is the expected request URL?"
Consider the following scenario:
[code]

What is the expected request URL?

I'm asking because I expect the request to be sent to `http://api.vendor.com/v3/myresource` but instead the request is dispatched to `http://api.vendor.com/myresource`. The reason is because the resource starts with a slash. Of course, I could simply remove the slash and move on but I wanted to check what you think the req

[2017-02-01 01:35] Pathoschild commented on #45
The expected URL is `http://api.vendor.com/myresource`. The methods like `GetAsync` take a relative path rather than a segment, and relative paths starting with a slash are relative to the root. For example, `new FluentClient("http://api.vendor.com/v3/").GetAsync("../myresource")` is valid too.

[2017-02-01 21:08] Jericho commented on #45
I see you point about `../myresource`. As far as a more "typical" scenario like `/myresource`, I was under the impression the base uri was indeed "the base" and would always be included in the final URL.

Oh well, I guess I need to change my expectation!!!

[2017-02-01 22:40] Jericho commented on #45
Here's another scenario:
[code]
I was very surprised that my request was dispatched to `http://api.vendor.com/myresource`. What happened to `v3`? I'm guessing this is due to the absence of a slash at the end of my base Uri and also absence of slash at the beginning of the resource???

These issues seem to be particularly evident when the base Uri is not the root of a web site. For example: your ve

[2017-02-01 23:00] Pathoschild commented on #45
I'm not opposed, but we should be careful not to break valid requests in the process. For example, this code is valid but your fix would break it:

[code]

[2017-02-02 07:26] Jericho commented on #45
Pseudo-code:

If the last part of the baseUri contains a file extension, don't modify it
else make sure the uri ends with a slash

[2017-02-03 01:27] Jericho opened #47 "Additional extension methods"
I wrote a few simple extension methods that I'm using in my project. For the most part, they are simple one-liners that make it easier to perform repetitive tasks.

Let me know if you think it would be useful to merge them into FluentHtpClient.

[code]

[2017-02-04 04:08] #45 closed, assigned to Jericho, Pathoschild

[2017-02-04 04:40] Pathoschild commented on #45
Merged into `develop` for the upcoming 3.0 release. Thanks!

[2017-02-04 04:48] Pathoschild commented on #47
method | comments
:----- | :-------
`WithJsonBody<T>` | ✘ Equivalent to`WithBody<T>`, since JSON is the default format.
`PatchAsync` | ✓ Feel free to submit a PR.
`AsString` | ✘ I still consider this a niche edge case that's better handled with a response filter. :)

[2017-02-04 16:14] Jericho commented on #47
**PatchAsync**: done. PR submitted

**WithJsonBody**: Are you saying that I can invoke WithBody, omit the media type and `application/json` will be assumed? That's interesting, I didn't know.

**AsString**: I figured it was worth mentioning it again ;-)

[2017-02-04 19:48] Pathoschild commented on #47
**PatchAsync:** merged into `develop` via #48 for the upcoming 3.0 release. Thanks!

**WithJsonBody:** yep, if you don't specify a body media type it'll default to the main formatter (i.e. the first one in the list).

[2017-02-04 19:48] #47 closed, assigned to Jericho, Pathoschild

[2017-02-04 19:50] Jericho commented on #44
Anything I can do to help you go through this checklist?

[2017-02-04 20:08] Pathoschild commented on #44
Testing the latest `develop` version in real-world projects would be helpful. Otherwise I just need to sit down and go through it; I'll do that later today if nothing comes up.

[2017-02-04 22:01] Jericho commented on #44
I ran all the unit tests and integration tests in my project and everything works fine.

[2017-02-06 23:58] Pathoschild opened #49 "Add dynamic/JSON methods"
The client supports parsing content as a strongly-typed model (or array), bytes, string, or stream. Sometimes it's useful to parse content into a data structure without creating a strongly-typed model. Json.NET lets you do that by parsing as `JObject`, `JArray`, or dynamic:
[code]

Consider adding equivalent methods to the fluent client for JSON only:
[code]

(The dynamic support is part of `JObje

[2017-02-07 00:28] Pathoschild commented on #44
I polished the [readme](https://github.com/Pathoschild/FluentHttpClient/tree/develop#readme) and [release notes](https://github.com/Pathoschild/FluentHttpClient/blob/develop/RELEASE-NOTES.md#30); how does that look?

[2017-02-07 02:29] Pathoschild commented on #44
Works fine in my projects, so I think we're ready to release.

[2017-02-07 03:19] Pathoschild commented on #44
Here's the NuGet package if you want to test before we release:
* [Pathoschild.Http.FluentClient.3.0.0.nupkg.zip](https://github.com/Pathoschild/FluentHttpClient/files/756493/Pathoschild.Http.FluentClient.3.0.0.nupkg.zip)

[2017-02-07 05:27] Jericho commented on #44
Reviewing the readme and notes, here are my comments:

**Readme**
1. The 'Custom Retry' section an example that demonstrate how to set the request coordinator. However, the `getDelay` in the sample returns an `int` instead of the expected `TimeSpan`. A better example should be something like:
[code]

2. In order to make it even more obvious that developers can replace the error handler, I suggest

[2017-02-07 05:54] Jericho commented on #49
I think this is a great idea. I did something similar in my project to parse the content of the response into a Json object and then cast it to a strongly typed model class.

I added the following extension methods:
[code]
My model class looks something like this:
[code]
Which allows me to write:
[code]

[2017-02-07 05:56] Jericho commented on #44
Downloaded the nuget package: all my unit tests passed and my integration tests succeeded as well

[2017-02-07 17:00] Pathoschild commented on #44
Readme changes:

1. Done.
2. I tweaked the section to mention custom filters as an option.
3. I can't think of a better example off-hand. By design all the common scenarios have fluent methods, so this is intended for edge cases that would be too obtuse for a quick example. I added an inline comment to clarify that it's just an example and call out `client.SetAuthentication`. We can change it late

[2017-02-07 17:09] Jericho commented on #44
Excellent!

[2017-02-08 16:51] Jericho opened #50 "x-www-form-urlencoded"
I have a vendor that requires me to POST my requests to their API and they want parameters to be encoded as a web form. They accept neither JSON nor XML, only web forms. Do you think this can be handled by FluentHttpClient?

For reference, here's how I currently handle it with a HttpClient:

[code]

[2017-02-08 23:22] Pathoschild commented on #50
The built-in [`FormUrlEncodedMediaTypeFormatter`](https://msdn.microsoft.com/en-us/library/system.net.http.formatting.formurlencodedmediatypeformatter.aspx) does that, so something like this should work:

[code]

[2017-02-09 03:04] Pathoschild commented on #44
[Published to NuGet](https://www.nuget.org/packages/Pathoschild.Http.FluentClient)! 🎊

[2017-02-09 03:04] #44 closed, assigned to Pathoschild

[2017-02-09 20:17] Jericho opened #51 "Default headers"
I am porting my second library to FluentHttpClient and noticed a missing feature: I can't set a default header that gets automatically added to every request. I know that I can invoke the `IRequest.WithHeader(string key, string value)` for each request, but it's very tedious.

I propose adding a method to IFluentClient like so:
[code]

[2017-02-11 17:40] Jericho opened #52 "Remove System.Net.Http.Formatting dependency"
What do you think about removing the dependencies on Microsoft.AspNet.WebApi.Client and WinInsider.System.Net.Http.Formatting and replacing with our own code?

I did a preliminary review and it looks like we use the following classes from these packages:
- _MediaTypeFormatter_: abstract class that describes a formatter (FluentClient already has a MediaTypeFormatter abstract class which is extremel

[2017-02-11 19:59] Jericho commented on #50
Looking at the source for the FormUrlEncodedMediaTypeFormatter class, I see the following:

[code]

so it doesn't look like this class can help me. I guess I need to write my own version.

[2017-02-11 20:05] Pathoschild commented on #50
🤔

[2017-02-11 21:23] Pathoschild commented on #52
I think compatibility with [existing media type formatters](https://www.nuget.org/packages?q=MediaTypeFormatter) is a big plus. What's the advantage to moving away from the main formatting library?

[2017-02-11 21:41] Pathoschild commented on #51
The same applies to other request options; how about a catchall method? For example:

[code]

[2017-02-11 22:18] Jericho commented on #52
Sorry I forgot to mention the reason for my suggestion:

To work around the fact that Microsoft's WebApi Client nuget package is not .NET STANDARD compliant  we found a 3rd party package that provides same functionality. The drawback is that some resources are missing from this 3rd party nuget package which causes 4 unit tests to fail in the FluentHttpClient project. Not ideal but not a huge deal

[2017-02-11 23:21] Jericho commented on #51
It would accept a single lambda parameter which would get invoked right before a request yields a response, right? As long as it's in addition to `SetHeader`,

I'll submit PR for `SetHeader` and will let you submit PR for `SetDefaultRequestOptions`.

[2017-02-12 00:03] Jericho commented on #52
I removed the `netcoreapp1.0` section from my testing project project.son to force my unit tests to only be executed under net452 (thereby eliminating the WinInsider package for debugging purposes) and, as I suspected, there is an underlying problem which immediately became quite evident: I am attempting to use the  FormUrlEncodedMediaTypeFormatter when submitting my requests and, as we discussed

[2017-02-12 21:15] Jericho commented on #50
I found an alternative.

Instead of invoking the `WithBody` method and specifying the "x-www-form-urlencoded" media type I wrote an extension method to convert the parameters into a `FormUrlEncodedContent` object and invoke the `WithBodyContent` method like so:

[code]

which I can use like this:
[code]

[2017-02-12 21:26] Jericho commented on #52
I found a solution for my "underlying" problem (solution described in #50). So, as far as I'm concerned, removing the WinInsider package is not as urgent as I originally thought.

However, the problem remains: when something goes wrong, the WinInsider package is unable to throw the appropriate exception due to missing resource and instead throws `Could not find any resources appropriate for ...` w

[2017-02-12 21:37] Pathoschild commented on #52
I think so. It's a workaround for .NET Core compatibility until Microsoft updates their packages, which will hopefully happen alongside .NET Core 2.0 in the next few months. I'd rather deal with that issue temporarily than remove support for the standard media type formatters.

[2017-02-12 21:40] Jericho commented on #52
I tend to agree with you. I freaked out when I saw 500+ of my unit tests failing and just a generic exception without any helpful message. But fortunately, I had an intuition about the underlying problem and I was able to figure out a workaround so I am not as alarmed as I was.

[2017-02-16 02:15] #52 closed, assigned to Jericho, Pathoschild

[2017-02-23 19:51] EricStG opened #54 "Support for multiple query parameters with the same name"
Looking at Request.GetArguments, which is called from WithArguments, it looks like I need to pass either an object or an IDictionary to the method in order to setup the query string.

Unfortunately, the API I'm calling requires me to enter the same parameter with multiple different values.
Ex: http://service/foo?bar=1&bar=2

Would it be problematic to use IEnumerable<KeyValuePair<>> Instead of IDi

[2017-02-23 20:05] Pathoschild commented on #54
Hi @EricStG. `WithArguments(…)` is just a shortcut for `WithArgument(key, value)`, which does what you want:

[code]

You can also use them together if you want:
[code]

[2017-02-23 20:06] EricStG commented on #54
I should've paid more attention. Thanks!

[2017-02-23 20:06] #54 closed, assigned to Pathoschild

[2017-02-23 20:06] Pathoschild commented on #54
Welcome!

[2017-03-21 07:38] Cuiqs76 opened #55 "how to use client with TestSever"
Is there a way to you asp.net core TestServer?

` var builder = new WebHostBuilder()
                 .UseStartup<Startup>();
            var _server = new TestServer(builder);

            _handler = _server.CreateHandler();
            _client = _server.CreateClient();`

[2017-03-21 14:27] Pathoschild commented on #55
Yep. The fluent client is just a wrapper around HttpClient, and you can set the client to use:

[code]

[2017-03-22 02:29] #55 closed, assigned to Pathoschild

[2017-04-01 20:33] Jericho opened #56 "Custom diagnostic IHttpFilter"
I am trying to write a custom `IHttpFilter` to log diagnostic info such as the time it took for the request to complete. The following is my first draft:

[code]

I'm afraid that this will not work so well if multiple requests are dispatched since filters are shared across multiple requests and therefore the value in `_requestTimer` will be overwritten. Can you think of a better way to ensure each

[2017-04-01 21:03] Pathoschild commented on #56
Two (untested) approaches come to mind.

1. Have one filter per request injected by an `IRequestCoordinator`:
[code]

2. _Or_ have one global filter that keeps track of all requests:
[code]

[2017-04-01 23:03] Jericho commented on #56
Your second approach is really interesting, I have been trying to implement it and it _almost_ works: the only issue is when checking if the request from the `IDictionary` matches the request from the response: `if (request != response.Message.RequestMessage)` always returns true, no matter what (in other words, they are always deemed to be different).

I'm researching if there's an alternative to

[2017-04-02 00:52] Jericho commented on #56
Here's the solution I came up with:

1) In OnRequest I added: `request.WithHeader("MyLibraryDiagnosticId", Guid.NewGuid().ToString("N"));`
2) In OnResponse, I replaced `if (request != response.Message.RequestMessage) continue` with
[code]

so far, it works great. Thanks for your help!

[2017-04-02 02:09] Pathoschild commented on #56
👍

[2017-04-02 02:09] #56 closed, assigned to nobody

[2017-05-21 16:43] moh-hassan opened #57 "OData feeds raise an exception"
**example:**

            var url = "http://services.odata.org/V4/Northwind/Northwind.svc/";
            IClient client = new FluentClient(url);
            var customers = await client
					   .GetAsync("Customers")
					    .AsArray<Customer>();
            Console.WriteLine(item.Length);

**Error Message:**

       InnerException:
         HResult=-2146233088
       Message=Cannot deserialize t

[2017-05-22 17:45] Jericho commented on #57
The issue is that you are asking FluentHttpClient to convert the response into an array of Customers but the response follows the [OData format](http://docs.oasis-open.org/odata/odata-json-format/v4.0/odata-json-format-v4.0.html) and therefore it contains a JSON object which looks like this:

[code]

As you can see, the data you are interested in is in the `value` property. What you need to do is

[2017-05-22 21:10] moh-hassan commented on #57
Fantastic and clean solution :)
  Your OData extension method  ".AsODataArray" solved  the problem and I can say that my issue is resolved.
Thank you very much for help and support.

[2017-05-22 21:37] #57 closed, assigned to nobody

[2017-06-28 13:09] datgrog opened #58 "Retry coordinator should handle timeouts"
Hello,

I just open a post on [stackoverflow](https://stackoverflow.com/questions/44800671/how-to-use-setrequestcoordinator-from-pathoschild-lib) because it's seems I don't use properly the retry feature.
I don't know if its an issue or if I just don't use it correctly.

Best

[2017-06-29 15:06] Pathoschild opened #59 "Retry coordinator should handle timeouts"
The retry coordinator doesn't retry on timeout since that causes an exception instead an HTTP error response:
[code]

Reported via #58 and [Stack Overflow](https://stackoverflow.com/questions/44800671/how-to-use-setrequestcoordinator-from-pathoschild-lib).

[2017-06-29 15:09] Pathoschild commented on #59
Closed in favour of the original report.

[2017-06-29 15:09] #59 closed, assigned to Pathoschild

[2017-06-29 15:10] Pathoschild commented on #58
Hi @onepix. That's an oversight in the new retry coordinator — it retries if the server returns an error, but not if the request times out locally. I'll fix that in the next release. :)

[2017-06-29 15:17] datgrog commented on #58
Thank you very much. 👍

[2017-09-03 18:12] Jericho opened #60 "Unable to retry requests when content is not null"
The [PR I submitted in January 2017](https://github.com/Pathoschild/FluentHttpClient/commit/3e6481f8cdcaa5efdab4eb8936d8ecb839f80217
) to introduce 'retry' functionality included an extension method to clone the `HttpRequestMessage` before dispatching it to avoid `The request message was already sent. Cannot send the same request message multiple times..` exception when re-attempting to dispatch t

[2017-09-09 15:37] Jericho opened #62 "Still maintained?"
Hi @Pathoschild,

just curious if you are still maintaining this project? I haven't seen any activity in a while so I was wondering. If you are, any chance you can look at the PR I submitted last week regarding issue with the retry coordinator?

Thanks

[2017-09-09 18:33] Pathoschild commented on #62
Yep, though I'm mainly focusing on [SMAPI 2.0](https://github.com/Pathoschild/SMAPI) for the next little while. I'll go through the backlog here this weekend. :)

[2017-09-09 21:35] Pathoschild opened #63 "Migrate to pure .NET Standard"
We target both .NET Standard and .NET Framework. Since .NET Framework projects can in theory reference .NET Standard libraries, look into just migrating fully to .NET Standard for simplicity.

[2017-09-10 00:43] Pathoschild commented on #63
It seems .NET Standard and .NET Framework don't play nicely together yet, unless I'm doing something wrong. Referencing the Standard library from a Framework project added _twenty-eight dependencies_ and caused ambiguous reference errors (e.g. `System.Net.Http.Formatting` vs `WinInsider.System.Net.Http.Formatting`).

For now I updated & simplified the project files, but left the multi-targeting as

[2017-09-10 00:43] #63 closed, assigned to Pathoschild

[2017-09-10 01:10] Pathoschild commented on #60
@Jericho I added a unit test which resubmits a stream-content request, but I can't reproduce that error. Can you check if there's a specific case where it happens (e.g. if using a stream other than `MemoryStream`?) I want to make sure the unit tests cover that case.

[2017-09-10 01:11] #62 closed, assigned to Pathoschild

[2017-09-10 01:48] Pathoschild commented on #51
I added `client.AddDefault` to specify default request options in the upcoming 3.1. The lambda is applied in `client.SendAsync` when creating the request, before it's returned for chaining.
[code]

Does this address your use case? (And if not, why not?)

[2017-09-10 02:00] Jericho commented on #51
This discussion was from 7 months ago. I don't really remember what my use case was but what I ended up doing is something like this:
[code]
which has worked fine for me for the last 7 months. The PR I submitted in Feb 2017 would simplify the syntax by allowing the following:
[code]

but since I have a work around, the simpler syntax is no longer a priority for me.

[2017-09-10 02:09] Pathoschild commented on #51
I'll close this as done using the `AddDefault` method then.

[2017-09-10 02:09] #51 closed, assigned to Pathoschild

[2017-09-10 02:27] #50 closed, assigned to Pathoschild

[2017-09-10 02:44] Jericho commented on #60
I haven't been able to reproduce this issue in a unit test using `RichardSzalay.MockHttp`. The only way I was able to consistently reproduce was in an integration test where I issue a request to an actual api that returns a HTTP status code that my client determines requires a retry. In my integration test, I can reproduce the exception 100% of the time and the solution in this PR solves the probl

[2017-09-10 02:50] Jericho commented on #60
I'm guessing there's a slight difference between how mockHttp issues request and how the real HttpClient issues requests but I haven't been able to pinpoint the difference.

[2017-09-10 03:23] Jericho commented on #60
I just opened an [issue with the `MockHttp` project](https://github.com/richardszalay/mockhttp/issues/54) to help me understand why we can't reproduce this problem with a mock http client.

[2017-09-10 03:41] Jericho opened #64 "Unit tests no longer discovered by Visual Studio 2017"
Is it just me or the unit tests no longer show up under "Test Explorer"?

![image](https://user-images.githubusercontent.com/112710/30245938-0a9f67a8-95b8-11e7-8d6c-132196e27e25.png)

According to [this article](https://stackoverflow.com/questions/43007761/how-to-run-nunit-tests-in-visual-studio-2017), we are probably missing a reference to the NUnit test adapter.

I'll add the missing reference a

[2017-09-10 03:44] Pathoschild commented on #64
They work for me, but I use ReSharper to run unit tests. The built-in test explorer may work differently.

[2017-09-10 03:45] Jericho commented on #64
Sure enough: I added a reference to `NUnit3TestAdapter` and all unit tests automatically showed up:

![image](https://user-images.githubusercontent.com/112710/30245957-cf0fc484-95b8-11e7-85f2-bc428d0e14dd.png)

[2017-09-10 04:07] #64 closed, assigned to Pathoschild

[2017-09-10 04:07] Pathoschild commented on #64
Merged. Thanks!

[2017-09-10 07:59] Pathoschild commented on #58
Done in the upcoming 3.1 release.

[2017-09-10 07:59] #58 closed, assigned to nobody

[2017-09-10 08:03] Pathoschild commented on #60
Seems like an upstream problem, so I'll leave the unit test as-is and close this. We can update later if they release a new version which fixes the unit test quirk.

[2017-09-10 08:03] #60 closed, assigned to Jericho, Pathoschild

[2017-09-10 08:06] Pathoschild opened #66 "Polish & release 3.1"
This is just a tracking ticket to finalise the 3.1 release:

* [x] Ensure all unit tests pass.
* [x] Ensure code conventions are applied, all code is documented, etc.
* [x] Polish documentation, release notes, etc.
* [x] Prepare NuGet package.
* [x] Test the client in a few projects.
* [x] Deploy to NuGet.

Feel free to comment if there's anything else you want to include in the 3.1 release.

[2017-09-11 01:34] Pathoschild commented on #66
@Jericho Here's the [3.1 NuGet package](https://github.com/Pathoschild/FluentHttpClient/files/1291092/Pathoschild.Http.FluentClient.3.1.0.nupkg.zip). It was created with the [new MSBuild/NuGet integration](https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html); let me know if you run into any problems using it. I'll release soon if nothing comes up.

[2017-09-11 01:45] Jericho commented on #66
I get the following exception when referencing this nuget package: `Package restore failed. Rolling back package changes`.

This message is frustratingly vague though.

[2017-09-11 01:48] Pathoschild commented on #66
Are there more details in the output window (possibly under build or package manager)?

[2017-09-11 01:52] Jericho commented on #66
I was able to get more details about this error:
[code]

[2017-09-11 02:03] Pathoschild commented on #66
That's pretty weird. It's definitely not targeting .NET Standard 2.0 (I haven't even updated VS to support that version yet):

I'll do some digging to see if I made a mistake somewhere, though it's working fine in my projects. 🤔

[2017-09-11 05:58] Jericho commented on #66
I removed FluentClient from my solution, closed VS.NET, cleared my local nuget cache, reopened VS.NET and attempted to add reference to FluentClient and this time I got an error message about version mismatch between Json.Net in the FluentClient package and my project. So I upgraded Json.net in my project to match the version referenced by FluentClient and attempted to add reference to FluentClien

[2017-09-11 15:31] Pathoschild commented on #66
Oh, I didn't account for custom implementations of that interface. I don't want to make this a 4.0 release, since it's a pretty small release. Maybe we can make retrying timeouts automatic, and defer the config option for an upcoming 4.0 release?

[2017-09-11 15:52] Jericho commented on #66
I was curious why you decided to treat timeouts differently than any other response? Why not simply delegate the decision whether to retry them or not to `IRetryConfig.ShouldRetry` and therefore allow developers to decide for themselves whether they want timeouts to be retried?

[2017-09-11 15:56] Jericho commented on #66
I think you set the `response` to `null` when a timeout occurs, right? If so, my custom retry strategy would look something like this:

[code]

[2017-09-11 16:22] Jericho commented on #66
One more comment: with the current logic, I find it weird that you don't invoke `IRetryConfig.ShouldRetry` to decide if the timeout should be retried or not and yet you do invoke `IRetryConfig.GetDlay` in order to get the TimeSpan for the delay task. It's not clear to me why you decided to invoke one but not the other when a timeout occurs.

[2017-09-11 16:27] Jericho commented on #66
In other words, I would change this line:
[code]
with this one:
[code]

[2017-09-11 16:34] Pathoschild commented on #66
Reusing `ShouldRetry` for timeouts would be ideal, but there's no `HttpResponseMessage` to check since HttpClient throws a `TaskCancelledException` on timeout. Just passing `null` would be unintuitive and a breaking change (since existing implementations would throw null reference exceptions).

Maybe we could create a fake response with a relevant status code, such as...

status               | no

[2017-09-11 16:47] Jericho commented on #66
Not having a HttpStatusCode constant is not a big problem (at least not for me). For instance, one of the APIs I use returns HTTP 429 when I exceed their throttling limit and there is no constant for this code either. That's why my retry logic checks for: ` (HttpStatusCode)429`

You can even create your own constants if you want. Like so:
[code]

[2017-09-11 16:48] Pathoschild commented on #66
Yep, that's what I was thinking if we use HTTP 598.

[2017-09-11 16:51] Jericho commented on #66
One more thing I wanted to bring up: are you sure `catch (TaskCanceledException) when (...)` will only catch timeout exceptions? Seems to me that you would get similar `TaskCanceledException` if, for example, another async task cancels the CancellationToken.

[2017-09-11 22:10] Jericho opened #67 "Retrying too many times (3.1 beta)"
While testing release 3.1 I noticed that one of my project's unit tests is failing. My test is checking that FluentHtpClient is retrying exactly 5 times but it appears that it's retrying 6 times.

[code]

This unit test was working fine in 3.0 but it is now throwing the following exception: `No matching mock handler`. My guess is that the logic in the retry coordinator has changed and instead of a

[2017-09-11 22:36] Pathoschild commented on #67
Yep, the retry logic was rewritten in 3.1. The `maxRetries` value now correctly sets the number of _retries_ instead of _attempts_.

[2017-09-11 22:41] Jericho commented on #67
That's a breaking change as evidenced by the fact that I will need to rewrite my unit test and my code that sets the number of attempts. Should at least be documented in release notes.

[2017-09-11 22:57] Pathoschild commented on #67
Almost any change will break some conceivable usage. For example, retrying timeouts at all is a breaking change for anyone who depends on them failing. I think it's important to have a more nuanced definition of 'breaking change'.

The change breaks your unit test because you're testing an implementation detail of the library. The effect on actual users is likely to be corrective (e.g. for users w

[2017-09-11 23:14] Jericho commented on #67
I'm not trying to argue semantics: call it a change in behavior if you prefer or even a bug fix if you consider the original behavior was not as you intended (I personally was happy with the original behavior). I'm just trying to point out that something changed and it affected me and there was no issue on GitHub that would have alerted me nor any mention of it in the release notes. And I didn't r

[2017-09-11 23:15] Pathoschild commented on #67
I added it to the release notes when you first mentioned it; sorry about that. :)

[2017-09-11 23:23] Jericho commented on #66
Did some research regarding a task canceled due to the CancellationToken being cancelled vs canceled due to timeout and found a [question on StackOverflow](https://stackoverflow.com/questions/12666922/distinguish-timeout-from-user-cancellation) (written in 2012) on this very topic. Someone suggested (in 2013) checking the exception's `CancellationToken.IsCancellationRequested` property to distingu

[2017-09-11 23:37] Jericho commented on #67
Do you mind if I suggest we add more details to the release notes? The current entry you added is not very clear to me.

I propose something like:
* Fixed `IRetryConfig.MaxRetries`: this value now sets the number of retries beyond the initial request. Previously, this value represented the total number of attempts, including the initial request.

[2017-09-11 23:40] Pathoschild commented on #66
Thanks! I found the same info. The bug might still happen in some versions of HttpClient, but we have the original token anyway:
[code]

I made that change and added a unit test for it, and replaced `RetryOnTimeout` with the HTTP 598 response as discussed above. Here's a fresh package:
* [Pathoschild.Http.FluentClient.3.1.0.nupkg](https://github.com/Pathoschild/FluentHttpClient/files/1294325/Patho

[2017-09-11 23:44] Pathoschild commented on #67
How about this?

[2017-09-11 23:55] Jericho commented on #67
Maybe it's just me, but I feel like this change can be easily overlooked and it deserves a little more details

[2017-09-12 00:24] Pathoschild commented on #67
The `maxRetries: 1` case is only an example (e.g. `maxRetries: 2` was also incorrect). Slight tweak to reflect that:

[2017-09-12 00:29] Jericho commented on #66
Looks very good. I simply changed `maxRetries: 5` to `maxRetries: 4` in my code and all my unit tests run successfully.

[2017-09-12 00:30] Jericho commented on #67
Very good.

[2017-09-12 00:41] Pathoschild commented on #67
Release notes updated.

[2017-09-12 00:41] #67 closed, assigned to Pathoschild

[2017-09-13 03:43] ghost opened #68 "Migrate content negotiation to .NET Standard"
Added Pathoschild.Http.FluentClient to an ASP .NET Core 2.0 WebAPI project.

Called PostAsync and received:

System.Resources.MissingManifestResourceException: 'Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "System.Net.Http.Properties.Resources.resources" was correctly embedded or linked into assembly "WinInsider.System.Net.Http.Formatting" a

[2017-09-13 14:11] Jericho commented on #68
This is a [known issue](https://github.com/Pathoschild/FluentHttpClient/issues/52#issuecomment-279179890) that I mentioned a few months ago. The issue is that some problem occurred and in the process of throwing the exception, some code in a nuget package tries to get the error message from an external assembly but this assembly is missing. In other words: an error occurred while trying to throw t

[2017-09-13 14:32] HeyJoel opened #69 "Add FluentHttpClient to nuget tags"
Hi, I wanted to try out your library but had trouble finding it in the nuget search when typing in "fluent http client", and then "FluentHttpClient".  The package name is different from the repo so maybe you should add FluentHttpClient to the nuget tags.

[2017-09-13 15:54] Pathoschild commented on #69
Done in `develop` for the upcoming 3.1 release. Thanks for the suggestion!

[2017-09-13 15:54] #69 closed, assigned to Pathoschild

[2017-09-13 17:17] Pathoschild commented on #68
That's a flaw in the `WinInsider.System.Net.Http.Formatting` library as Jericho mentions, which we're using because `MediaTypeFormatter` (from `System.Net.Http.Formatting`) isn't available in .NET Standard yet. With .NET Standard 2.0 released, we should look into whether we can replace it with a .NET Standard equivalent for content negotiation.

[2017-09-13 18:05] Pathoschild commented on #68
[Microsoft.AspNet.WebApi.Client 5.2.4 alpha](https://www.myget.org/feed/aspnetwebstacknightly/package/nuget/Microsoft.AspNet.WebApi.Client) adds the missing APIs for .NET Standard 1.1, but the last release was in February. Based on discussion in aspnet/Mvc#5822, the release timeline isn't clear.

[2017-09-13 21:58] ghost commented on #68
Looks like we can have a resolution in future. Luckily, there's plenty to be getting on with and I can return to this at when fixed. Thanks.

[2017-09-15 21:09] Jericho commented on #66
When do you plan to release 3.1?

[2017-09-16 04:44] Pathoschild commented on #66
I'm aiming for next week. I'm travelling this weekend, and I want to test-migrate one of my projects to the new version before release.

[2017-09-19 19:35] Pathoschild commented on #66
3.1 is live on NuGet. 🎉

[2017-09-19 19:35] #66 closed, assigned to Pathoschild

[2017-12-28 14:28] ygorccardoso opened #70 "Request WithArguments - no support for repeated arguments in query string"
When we have API's with query string parameters that are enumerables/lists, the standard way to specify them in the request is by repeating the parameter in the query string with different values; eg.:

`http://api.com/Movies?genre=action&genre=drama`

If we try to call WithArguments with a KeyValuePair<string, string> with the values of the example above, it throws an exception of duplicated key,

[2017-12-28 17:32] Pathoschild commented on #70
Hi @ygorccardoso. Can you provide a code example of the failing WithArguments call?

[2017-12-28 18:43] Jericho commented on #70
I can see @ygorccardoso's point. The `WithArguments(object arguments)` method in Request.cs invokes `GetArguments` to convert the object into a `IDictionary<string, object>`. This prevents situations where we need multiple querystring arguments with the same name since the name of the arguments is used as the key in the dictionary.

A suggestion would be for the `GetArguments` method to return `IE

[2017-12-28 18:51] Jericho commented on #70
One more observation: the method in `UriExtensions.cs` that ultimately converts the KeyValuePair items into query string already supports multiple values with the same key (notice it accepts an array instead of a dictionary):

[code]

so it's weird that `WithArguments(object arguments)` would not permit this scenario.

[2017-12-28 19:14] Pathoschild commented on #70
Yep, it's an easy fix. I just hadn't accounted for someone passing actual key/value pairs into `WithArguments`.

[2017-12-28 19:23] Pathoschild commented on #68
Still waiting for Microsoft.AspNet.WebApi.Client 5.2.4, no timeline available (that isn't already past).

[2017-12-28 22:02] Jericho commented on #70
I will have a PR momentarily.

[2017-12-29 08:59] ygorccardoso commented on #70
@Jericho thanks, that's great, those were exactly my thoughts, opened the ticket to do more or less the same but you were too quick 👍

[2018-01-01 16:44] #70 closed, assigned to nobody

[2018-01-01 17:21] Pathoschild commented on #70
@ygorccardoso Fixed in the upcoming release via #71. :)

[2018-01-04 14:29] Jamesits opened #72 "Set cookies in request?"
Is there any ways to manually set a specific cookie in request, or maybe a way to maintain a cookiejar across multiple requests?

If my tests are correct, `HTTPClient.GetAsync(...).WithHeader("Cookie", "A=B")` won't actually set cookie.

[2018-01-05 06:58] Pathoschild commented on #72
The underlying `HttpClient` silently ignores cookies by default. It's a bit clunky, but you can override the `HttpClient` to avoid that. At that point you can call `.WithHeader("Cookie", "...")` and it'll work fine.
[code]

(I'd love to add a `.WithCookie(...)` method to hide all that, but the complication is that we'd need to override the handler to do it. Since you can pass in your own client, i

[2018-01-05 15:10] Pathoschild commented on #72
I'll reopen this to fix cookie support by default. I won't add a `.WithCookie` method per my previous comment, but you'll be able to use `WithHeader("Cookie", "...")` by default.

[2018-01-08 09:32] Ninglin opened #73 "Shouldn't WithArguments(object) filter out null properties before sending in the request?"
If we pass an object with null properties on it, those will be sent with the request with the value string.Empty. Should this behavior be like this? I think null properties should be ignored or the behavior should be configurable. Something like `IgnoreNullProperties = true` when instancing the Client.

[2018-01-08 17:03] Pathoschild commented on #73
How about something like this to keep the number of constructors down?

[code]

[2018-01-09 08:23] Ninglin commented on #73
That would be a good approach. What would be the most desirable default for this? I would say true is the more correct approach. What are your thoughts about this?

[2018-01-09 15:37] Pathoschild commented on #73
That's fine with me. @Jericho any preference on whether to ignore `null` arguments by default?

[2018-01-09 15:45] Jericho commented on #73
My opinion is to ignore them by default.

One quick comment: since this setting is so specific to `WithArguments(object)`, doesn't it make sense to add a (optional) parameter to this method rather than a property when instanciating the client? Something like this:

[code]

[2018-01-09 15:50] Pathoschild commented on #73
I see it as a set-and-forget option, not something you'd want to set on each `WithArguments` call. An `options` constructor argument would be a good place for finetuning options like this without cluttering the rest of the API.

[2018-01-09 16:06] Ninglin commented on #73
I would say that the better option is to have this at the the client instantiation. This is a behaviour for all requests within a given `FluentClient` so it makes sense to configure this within the `FluentClientOptions`.

[2018-01-09 16:12] Jericho commented on #73
I don't use this method so the final decision will not affect me but I could see a situation where someone could want the null arguments of one object to be ignored _and also_ the null arguments of another object to be included in the same request

[code]
 (by the way, the fact that a default value is set on the argument in my sample means that you wouldn't have to worry about it on each call but

[2018-01-09 16:16] Pathoschild commented on #73
@Jericho You could do that by explicitly setting an empty string, which won't be ignored:
[code]

[2018-01-09 16:18] Jericho commented on #73
@Pathoschild what about cases where the data type is not `string`?

Of the top of my head, something like this:
[code]

[2018-01-09 16:20] Pathoschild commented on #73
In cases where you want to control individual arguments you could do this:
[code]

[2018-01-09 16:27] Jericho commented on #73
We keep using an anonymous object built on the fly which gives us flexibility but not all cases are like that. Consider the following:

[code]

You could say: create a dynamic object on the fly like this:
[code]

but this becomes tedious quickly when the model class has several properties.

Anyway, like I said, I'm not using this method so feel free to take my opinion with a grain of salt but I ju

[2018-01-09 16:39] Pathoschild commented on #73
That's a fair point, but I'm not sure how common the use case will be. If users rarely need to control null handling per-argument with a model, then creating an anonymous object on the fly is fine. I suggest releasing without a `WithArguments` option, and we can add it in a future version if there's demand for it. Any objections?

[2018-01-09 16:43] Jericho commented on #73
No objection

[2018-01-09 16:47] Ninglin commented on #73
Doesn't the `WithArgument` method serve the purpose of forcing something to be null. For instance, if someone would want to force a parameter to be null on the same client wouldn't they be able to call `WithArgument("parameterName", null)`?

[2018-01-09 16:50] Jericho commented on #73
@Ninglin I was just going to ask: for consistency sake, don't we want `WithArgument` to respect the `IgnoreNullArguments` settings?

Otherwise we would have a global `IgnoreNullArguments` setting that is enforced in `WithArguments` but not in `WithArgument`. Personally, I would be confused by that.

[2018-01-09 16:54] Ninglin commented on #73
@Jericho I had the same question when asking that

[2018-01-09 17:01] Pathoschild commented on #73
If you set `IgnoreNullArguments = true`, then `WithArgument("parameterName", null)` will have no effect. Since multiple argument values are allowed, this won't remove a previous argument:
[code]

[2018-01-09 17:01] Jericho commented on #73
There's a third method that deals with arguments where I think we should consistently enforce the IgnoreNullArguments setting:

[code]

[2018-01-09 17:02] Pathoschild commented on #73
Yep, null arguments should be ignored regardless of how they're passed in.

[2018-01-09 17:03] Jericho commented on #73
To summarize: all three `WithArgument(s)` methods will consistently enforce the `IgnoreNullArguments` setting. Right?

[2018-01-09 17:06] Pathoschild commented on #73
Yep.

[2018-01-10 10:04] Ninglin commented on #73
Sounds good.

[2018-01-19 21:20] Pathoschild opened #74 "Base URLs don't have implicit ending slash in some cases"
The base URL's implicit end `/` in #46 doesn't seem to be working in some cases:
[code]

Also write unit tests for the base URL logic.

[2018-01-19 21:24] Pathoschild commented on #74
Specifically, this fails if it ends with something like an extension (`.0` in this case isn't an extension). Not sure whether there's a way to avoid that, since numbers can be valid extensions.

[2018-01-21 21:45] Jericho commented on #73
Submitted a PR which allows to specify `IgnoreNullArguments` when instantiating the client and also allows to override this value for each request if desired.

[2018-01-27 19:27] Jericho commented on #72
Here's a crazy idea: why don't we create a new fluent client capable of maintaining it's own cookie jar?

This class would not allow you to provide your own `HttpClient` and therefore would be able to hide the complication associated with cookies. This class would either derive from `FluentClient` or implement the `IClient` interface.

Maybe something like this:
[code]

What do you think?

[2018-01-27 19:32] Pathoschild commented on #72
That's an interesting idea, but we can generalise it — there are other features we can add if we don't allow overriding the `HttpClient`.

But that brings up a question: what are the use cases which benefit from overriding the `HttpClient`? If it's only unit tests, maybe we can drop support for overriding `HttpClient` and add unit testability support directly? That would let us support features li

[2018-01-27 19:44] Jericho commented on #72
On my end, unit testing is the only reason why I override the httpclient but I allow the developers who use my library to provide their own client (which I pass to the fluent client constructor) so I would have to survey them to know if they would be ok with removing the ability to use a custom httpclient.

What other scenarios you think we could support?

[2018-01-27 20:27] Pathoschild commented on #72
Some potential benefits to controlling the underlying client:

* Built-in cookie support:
[code]
* Built-in proxy support (we currently have a separate non-client-overriding constructor):
[code]
* Built-in support for [handler](https://msdn.microsoft.com/en-us/library/system.net.http.httpclienthandler.aspx) options:
[code]
* Built-in unit testing:
[code]
* We'd only need two constructors instead o

[2018-03-31 17:02] Pathoschild commented on #72
Fixed in `develop` for the upcoming 3.2 release:

[code]

[2018-03-31 17:02] #72 closed, assigned to Pathoschild

[2018-03-31 17:13] Pathoschild commented on #74
Proposed behavior:

1. No longer add slashes to the base URL initially to allow usage like this:
[code]
2. **Always** add slashes when combining it with a path:
[code]

This changes the behavior if you specify a filename as the base URL and then set a path. I think that's fine though &mdash; I don't think that's a common use case, the new behavior is more intuitive, and there are legitimate scenar

[2018-03-31 22:18] Pathoschild commented on #74
Here are various example uses and the proposed result:

* Empty resource:

  base URL | resource | result
  -------- | -------- | ------
  `https://example.org/index.php` | `null` | `https://example.org/index.php`
  `https://example.org/index.php` | `""` | `https://example.org/index.php`
  `https://example.org/index.php` | `"   "` | `https://example.org/index.php`

* Path resource:

  base URL | r

[2018-03-31 23:03] Pathoschild commented on #74
Done in `develop` for the upcoming 3.2 release.

[2018-03-31 23:03] #74 closed, assigned to Pathoschild

[2018-03-31 23:03] #73 closed, assigned to Pathoschild

[2018-03-31 23:31] Pathoschild commented on #73
Merged into `develop` for the upcoming 3.2 release. Null arguments will be ignored by default, and you can override that via `client.SetOptions` or `request.WithOptions`. Thanks!

[2018-03-31 23:50] Pathoschild commented on #68
WebApi client 5.2.4 is finally released and includes `MediaTypeFormatter`, so we can drop the third-party workaround. However, we'll need to target .NET Standard 2.0 instead of 1.3, losing compatibility with some older versions:

|.NET Standard              | [1.3] |      [2.0] |
|:------------------------- |-----: |----------: |
|.NET Core                  |  1.0  |        2.0 |
|.NET Framework

[2018-04-01 15:35] Jericho commented on #68
Losing compatibility with .netstandard1.x is a big deal for me. My library targets net452 and netstandard1.3 so if you change your target to netstandard2.0 I won’t be able to use your new version. Maybe you could multi-target 1.3 and 2.0 and conditionally reference the appropriate nuget package depending on the target? I know this wouldn’t achieve your goal of completely getting rid of the 3rd par

[2018-04-01 23:43] Pathoschild commented on #68
Yeah, I thought of that later. Multitargeting is easy, so there's no need to reduce compatibility. We can also target Framework 4.5 instead of 4.5.2. So we'll support:

target | dependencies
------ | ------------
.NET Framework 4.5 | [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client) 5.2.4
.NET Standard 2.0 | [Microsoft.AspNet.WebApi.Client](https://www

[2018-04-02 00:24] Jericho commented on #68
I know that you _can_ target net4.5 but why? Microsoft [stopped supporting it in January 2016](https://support.microsoft.com/en-us/help/17455/lifecycle-faq-net-framework).

[2018-04-02 02:07] Pathoschild commented on #68
We don't need any changes to support 4.5, since our dependencies are already compatible, so why not? It won't affect anyone using 4.5.2+.

[2018-04-02 02:08] Pathoschild commented on #68
Done in `develop` for the upcoming 3.2 release. (Feel free to comment if you disagree with supporting .NET Framework 4.5.)

[2018-04-02 02:08] #68 closed, assigned to Pathoschild

[2018-04-02 02:11] Pathoschild opened #76 "Polish & release 3.2"
This is just a tracking ticket to finalise the 3.2 release:

* [x] Ensure all unit tests pass (for all target frameworks).
* [x] Ensure code conventions are applied, all code is documented, etc.
* [x] Polish documentation, release notes, etc.
* [x] Prepare NuGet package.
* [x] Test the client in a few projects.
* [x] Deploy to NuGet.

Feel free to comment if there's anything else you want to inclu

[2018-04-02 02:23] Pathoschild opened #77 "Use consistent project name"
The project name is inconsistent:

source         | current value
-------------- | -------------------------------
namespace      | Http.Client
class name     | FluentClient
name in readme | FluentHttpClient
package ID     | Http.FluentClient<br /><sup>(can't change this)</sup>
package name   | Fluent HTTP Client
repo name      | FluentHttpClient

Consider using a more consistent name.

[2018-04-02 02:31] Pathoschild commented on #77
FluentHttpClient seems fine to me, since it's mainly a fluent version of HttpClient. We shouldn't change the namespace or class (too inconvenient for users), and we can't change the package ID, but we can make it consistent across readme + package name + repo name.

[2018-04-03 18:11] Pathoschild commented on #77
Done in `develop` for the upcoming 3.2 release. (This only affects the package name for now.)

[2018-04-03 18:11] #77 closed, assigned to Pathoschild

[2018-04-04 01:42] Pathoschild commented on #76
Here's a beta of the upcoming 3.2 release; let me know if you run into any problems with it.

* [Pathoschild.Http.FluentClient.3.2.0-beta.zip](https://github.com/Pathoschild/FluentHttpClient/files/1874049/Pathoschild.Http.FluentClient.3.2.0-beta.zip)
  (unzip for NuGet package, GitHub doesn't allow `.nupkg` attachments)

[2018-04-05 17:26] Pathoschild commented on #76
@Jericho Can you try 3.2-beta with your code and make sure it doesn't cause any problems? (See [release notes](https://github.com/Pathoschild/FluentHttpClient/blob/develop/RELEASE-NOTES.md#32).)

[2018-04-05 19:42] Jericho commented on #76
I’ll be happy to test on Sunday

[2018-04-09 05:20] Jericho commented on #76
Found a [problem](https://github.com/Pathoschild/FluentHttpClient/blob/develop/Client/FluentClient.cs#L136).

Also, a bunch of my unit tests are failing because null arguments are now ignored by default. It's been so long, I don't remember if we intended to change this default behavior?

Edit: I found a [conversation we had in January](https://github.com/Pathoschild/FluentHttpClient/issues/73#issu

[2018-04-09 06:56] Jericho commented on #76
Found a second problem: when `WithArgument` is invoked repeatedly and some of the arguments are null, we end up with a request URL that looks like this: `http://example.org/?&&keyC=ccc` (notice the unnecessary ampersands).

Here's an example:
[code]

The problem is [here](https://github.com/Pathoschild/FluentHttpClient/blob/develop/Client/Internal/UriExtensions.cs#L28). This code adds a `?` or `&`

[2018-04-09 15:36] Pathoschild commented on #76
@Jericho I merged your pull request and added unit tests for the `WithArguments` URL formatting. That also uncovered an issue where new arguments are added after a fragment (e.g. `https://example.org/#fragment?x=1`). Both `WithArguments` issues are fixed in `develop`.

I'd rather not change the major version just for this change. How about we keep the option, but default to the previous behaviour

[2018-04-09 15:56] Jericho commented on #76
@Pathoschild keeping the same default behavior in 3.2 and changing it in 4.0 is the right decision.

[2018-04-09 16:06] Pathoschild commented on #73
Per discussion in #76, we'll keep the previous behaviour by default to avoid breaking changes. You can set `client.SetOptions(ignoreNullArguments: true)` to use the new behavior in 3.2. The default behavior will change in the future 4.0 release.

[2018-04-09 16:10] Pathoschild commented on #76
I changed the default behavior accordingly. Here's a new build with the latest changes.
* [Pathoschild.Http.FluentClient.3.2.0-beta.2.zip](https://github.com/Pathoschild/FluentHttpClient/files/1890690/Pathoschild.Http.FluentClient.3.2.0-beta.2.zip)
  <sup>(unzip for NuGet package, GitHub doesn't allow `.nupkg` attachments)</sup>

[2018-04-12 16:02] Pathoschild commented on #76
@Jericho If there's no further issue, I'll release this over the weekend. Let me know if you'd like me to delay that.

[2018-04-12 17:20] Jericho commented on #76
Looks good to me! I say release whenever you can

[2018-04-18 16:17] Pathoschild commented on #76
[FluentHttpClient 3.2 is released!](https://www.nuget.org/packages/Pathoschild.Http.FluentClient)

[2018-04-18 16:17] #76 closed, assigned to Pathoschild

[2018-05-18 06:11] WebDucer opened #79 "Xamarin.iOS not working with 3.2"
We have problems to run the client on iOS devices (and simulators).

We get the following error, if we try to use the client (simple get on google page).

[code]

And following inner exception:

[code]

You can simple reproduce the behaviour by creating a defaul Xamain.Forms or Xamarin.iOS project and try:

[code]

[2018-05-18 09:13] WebDucer commented on #79
I testet it on Android too. Same problem.

[2018-05-18 18:57] Pathoschild commented on #79
Hi @WebDucer. Can you check whether that still happens with this package?
* [Pathoschild.Http.FluentClient.3.2.1-alpha-20180518.nupkg](https://github.com/Pathoschild/FluentHttpClient/files/2018282/Pathoschild.Http.FluentClient.3.2.1-alpha-20180518.zip)

[2018-05-29 06:28] WebDucer commented on #79
Sorry for late response. I was in vacation for some days.

The version `Pathoschild.Http.FluentClient.3.2.1-alpha-20180518.nupkg` produce the same error.

As I see from my research, the problem is in Mono implementation of .Net Standard 2.0 (see the following: <https://github.com/mono/mono/issues/6376>, <https://github.com/aspnet/AspNetWebStack/issues/129>, <https://github.com/aspnet/AspNetWebStac

[2018-05-29 06:55] WebDucer commented on #79
The following works for Android:

I removed netstandard2.0 dependencies and implementation from NuGet package, so Xamarin uses netstandard1.3 dependencies and implementation.

For iOS, it works for Simulator, but on real device it crashes without .Net error message. So at this moment I can not say, why.

[2018-05-29 08:26] WebDucer commented on #79
On iOS the workaround works too. If I have no breakpoints on the fluent client, all work fine. The iOS app only crashes, if debugger is on and the breakpoint is on the line where fluent client is directly involved. The Xamarin debugger crashes the app.

[code]

[2018-06-04 15:32] Pathoschild commented on #79
The Mono issue is fixed for their upcoming 5.12.xx milestone. 🎉

[2018-06-05 07:49] WebDucer commented on #79
I will test it, as soon as the fix is available for VS for Mac beta/alpha channel.

[2018-06-21 20:28] mrUlrik opened #80 "Ignore Null Arguments"
I am passing a model that contains a reference to a list  of a list of strings whose child values can be null.

[code]

Despite setting this to ignore null arguments the JSON payload still contains a null list. The Constraints property is not populated or even referenced when creating the Payload object. I am currently playing with the following:

[code]

This produces:

[code]

Unfortunately that

[2018-06-22 03:33] Pathoschild commented on #80
@mrUlrik The problem is that the list is empty, not `null`. I tried your sample code and it produced the expected request body:
[code]
Are you initialising the list somewhere not shown in your sample code?

[2018-06-22 20:35] mrUlrik commented on #80
Thank you very much. This was a problem with my code. The nature of dealing with nested lists that my brain just did not do the simple addition on. Thank you very much for discovering this for me. :)

[2018-06-22 20:35] #80 closed, assigned to Pathoschild

[2018-06-22 20:40] Pathoschild commented on #80
Happy to help!

[2018-06-26 01:32] mzaatar commented on #79
Same issue for me. any new news?

[2018-06-26 02:45] Pathoschild commented on #79
@mzaatar I'm not sure. The [relevant ticket](https://github.com/mono/mono/issues/6376) was closed on June 3rd for "Mono 5.12.xx", but 5.12 was [released May 8th](http://www.mono-project.com/docs/about-mono/releases/5.12.0/) and the [next listed release is 5.14](http://www.mono-project.com/docs/about-mono/releases/). Neither of those mentions the fix. It's possible it'll be in a future 5.12.1 relea

[2018-07-24 17:03] zllvm opened #81 "A breaking change for a proxy settings in 3.2"
After an update to a new version 3.2, I got timeouts in my projects. Apparently, if there is no WebProxy or HttpClient provided, the default behavior no longer allows to use default proxy settings.

From FluentClient.cs:

[code]

Thereby, proxy will be set to false.

If it is a supposed way of doing, then it could be good to mention it in the release notes.

[2018-07-24 18:43] Pathoschild commented on #81
@zllvm Overriding the default proxy isn't intended; I'll fix that in the next release. Can you try setting the default proxy as a temporary workaround?

[code]

[2018-07-25 07:17] zllvm commented on #81
Right, I've done this fix already, works fine. Thanks for a quick reply!

[2018-07-27 12:40] zllvm commented on #81
The solution with WebRequest.DefaultWebProxy does not work in net core. It requires a null value set for HttpClientHandler.Proxy.

[2018-07-27 19:43] Pathoschild commented on #81
@zllvm Here's a build which should fix the issue (see [how to install a local package](https://stackoverflow.com/questions/10240029/how-do-i-install-a-nuget-package-nupkg-file-locally)). If that works fine for you, I'll release it as 3.2.1.

Attached:
* [Pathoschild.Http.FluentClient.3.2.1-alpha-20180727.nupkg.zip](https://github.com/Pathoschild/FluentHttpClient/files/2237018/Pathoschild.Http.Flue

[2018-07-30 12:05] zllvm commented on #81
@Pathoschild Yes, it has fixed it. Thanks!

[2018-08-06 13:49] mazmar opened #82 "Signed Package"
Any chance of strong naming this package?

[2018-08-07 02:16] Pathoschild commented on #82
I'll definitely look into that for a future release.

[2018-09-25 13:54] WebDucer commented on #79
Sory for long time not answering.

With the current version of VS (15.8.5) it works for me. Both iOS and Android. I tested it with a small application and want to test this next days on our main apps.

[2018-11-15 09:28] ike86 opened #83 "Link for "HTTP filters" in README.md is broken"

[2018-11-15 16:12] #83 closed, assigned to ike86

[2018-11-15 16:13] Pathoschild commented on #83
Fixed via #84. Thanks for reporting it!

[2019-03-09 05:59] Pathoschild commented on #79
There's been several Mono releases since then and I haven't heard anything recent, so I assume this is fixed. Let me know if it still happens!

[2019-03-09 05:59] #79 closed, assigned to Pathoschild

[2019-03-09 05:59] Pathoschild commented on #81
This is included in the upcoming release.

[2019-03-09 05:59] #81 closed, assigned to Pathoschild

[2019-03-09 08:25] Pathoschild commented on #49
@Jericho Those annotations should work fine with `.As<T>()` too.

The problem is that some APIs have nested response structures which are annoying to map into models:
[code]

If you want to check for errors and grab the profile list (without needing your own deserialiser), you need some convoluted models:
[code]

 With this ticket, you could navigate the JSON structure instead:
[code]

That's espe

[2019-03-09 18:49] Pathoschild commented on #49
Done in `develop` for the upcoming FluentHttpClient 3.3 (see [readme](https://github.com/Pathoschild/FluentHttpClient#raw-json-reading)).

[2019-03-09 18:49] #49 closed, assigned to Pathoschild

[2019-03-11 00:41] Pathoschild opened #85 "Simplify form-URL-encoded content"
APIs often take form-URL-encoded bodies as input, but those are a bit awkward currently:
[code]

Consider adding convenience methods.

[2019-03-11 00:42] Pathoschild commented on #85
Some possible designs:
[code]

[2019-03-11 02:12] Jericho commented on #85
You and I had a discussion about URL encoded form content about two years ago. [Here’s the extension method](
https://github.com/Pathoschild/FluentHttpClient/issues/50#issuecomment-279249618) I came up with at the time which has served me well since then.

[2019-03-11 03:28] Pathoschild commented on #85
Thanks! That ticket got closed as a question, but I think it's common enough that we could support it directly in the client. I also prefer the simplicity of setting arguments using the anonymous object syntax, instead of a collection of `KeyValuePair`s.

[2019-03-11 11:12] Jericho commented on #85
The reason I picked IEnumerable rather than IDictionary or anonymous object was that I needed to support multiple arguments with same name. This is the same reasoning that explains why there are two overloads of the WithArguments method: one accepts IEnumerable<KeyValuePair> and the second accepts an object. You should consider doing the same

[2019-03-11 19:29] Pathoschild commented on #85
Yep, it'll support both just like `WithArguments`. Leaning towards this syntax, since it's easy to extend with other formats:
[code]

[2019-04-25 07:16] Pathoschild commented on #85
Done in `develop` for the upcoming FluentHttpClient 3.3. This...

* Adds a `WithBody` builder overload:

* Adds a simpler `WithBody` method for the most common case:
[code]

* Marks these methods deprecated:
[code]

The deprecations bring us down to two overloads, so it's less confusing while still supporting all previous cases:
[code]

Let me know if you want to change anything!

[2019-04-25 07:16] #85 closed, assigned to Pathoschild

[2019-04-25 19:32] Pathoschild opened #86 "Polish & release 3.3"
This is a tracking ticket to finalise the 3.3 release:

* [x] Ensure all unit tests pass (for all target frameworks).
* [x] Ensure code conventions are applied, all code is documented, etc.
* [x] Polish documentation, release notes, etc.
* [x] Prepare NuGet package.
* [x] Test the client in a few projects.
* [x] Deploy to NuGet.

Feel free to comment if there's anything else you want to include in

[2019-04-26 00:27] Pathoschild commented on #86
Here's a [prerelease package for FluentHttpClient 3.3](https://github.com/Pathoschild/FluentHttpClient/files/3119276/Pathoschild.Http.FluentClient.3.3.0-alpha-20190425.nupkg.zip) and the [draft release notes](https://github.com/Pathoschild/FluentHttpClient/blob/develop/RELEASE-NOTES.md#33). I'll release it Sunday; if you plan to test it but need more time, let me know and I'll delay the release.

[2019-04-27 05:36] Pathoschild opened #87 "Change package ID?"
Consider changing the package ID in a future version to match the library name (from `Pathoschild.Http.FluentClient` to `Pathoschild.FluentHttpClient`).

[2019-04-27 05:49] Pathoschild commented on #87
## Background
FluentHttpClient is the top Google result for "FluentHttpClient", but it's _way_ down the list in the Visual Studio package manager (which mainly searches the package ID):

It's near the top for "FluentClient" though, since that's in the ID (no idea why a package with 73 downloads is first):

## Pros & cons
* Pros:
  * Less confusing when users search "FluentHttpClient".
  * ID is mo

[2019-04-27 16:07] Pathoschild commented on #86
@Jericho FluentHttpClient 3.3 will tentatively release tomorrow. Let me know if you want to try it with your projects first, and need more time.

[2019-04-27 17:58] Jericho commented on #86
Is there a specific reason for upgrading Newtonsoft.Json? I'm asking because Visual Studio would not upgrade FluentClient in my project due to the fact that I already have a dependency on an older version of Newtonsoft.Json. Of course I could upgrade my reference but that means that a bunch of my users would also need to upgrade. I would rather avoid it if possible.

[code]

[2019-04-27 18:52] Pathoschild commented on #86
I'll undo the change in 3.3 to avoid issues; here's [a fresh package without the upgrade](https://github.com/Pathoschild/FluentHttpClient/files/3124249/Pathoschild.Http.FluentClient.3.3.0-alpha-20190427.zip). Let me know if you notice any other issues!

It'd be good to upgrade in a future version though. FluentHttpClient benefits from some of the Json.NET 12.0 changes, like improved date/number ha

[2019-04-27 19:32] Jericho commented on #86
It worked in one of my projects. I got a warning about an obsolete method because of this code:

[code]

which I fixed like this:
[code]

I am now trying to upgrade another project where I want to remove my `WithFormUrlEncodedBody` extension method and replace calls to it with your new method but I'm getting the following error:

[code]

I must be missing a "using" statement or something. Research

[2019-04-27 19:40] Jericho commented on #86
I just figured out that your new method is off of a new class called `BodyBuilder` and not on the IRequest. Therefore I still need my extension method but I need to modify it like so:
[code]

All's good now! Thumbs up from me to release the new version.

[2019-04-27 20:27] Pathoschild commented on #86
Thanks!

[2019-04-28 02:45] Pathoschild commented on #86
Done! The 3.3 release is now on NuGet.

[2019-04-28 02:45] #86 closed, assigned to Pathoschild

[2019-05-06 08:16] WebDucer opened #88 "Error by using WithBody instear of WithBodyContent"
Hello.

We have the following code to get a token from an API with version 3.2:

[code]

This works fine. Now with version 3.3 `WithBodyContent` is obsolet an I tried to replace this with `WithBody`.

[code]

But now I get BadRequest instead of the token. I think, `FormUrlEncodedContent` type is not handled properly.

[2019-05-06 09:25] Jericho commented on #88
I too struggled a bit to figure out how to send FormUrlEncoded content using the new syntax in the latest version. The new syntax is not very discoverable but once you figure it out, it's pretty simple.

Try this:
[code]

[2019-05-06 10:59] WebDucer commented on #88
@Jericho Hello. I tried this, but get the same `BadRequest` exception, as soon as I use `.WithBody(builder => builder.bodyBuilder.FormUrlEncoded(parameters))` instead of `.WithBodyContent(new FormUrlEncodedContent(parameters))`.

[2019-05-06 14:52] Pathoschild commented on #88
There's some bugs in the way form-url-encoded content is handled; I'll release a fix for those soon. In the meantime, passing a non-dictionary should work fine:
[code]

[2019-05-06 16:06] Pathoschild commented on #88
The logic was technically correct, but it didn't support some intuitive ways of using the client. That's fixed in the upcoming 3.4:
* Added support for passing `HttpContent` directly to `WithBody`:
[code]
* Added support for passing an `IDictionary<string, string>` to `bodyBuilder.FormUrlEncoded`:
[code]

Here's [a preview build](https://github.com/Pathoschild/FluentHttpClient/files/3148801/Pathos

[2019-05-06 19:46] Jericho commented on #88
@Pathoschild my suggestion to make it more intuitive would be to add extension methods to `IRequest` that would invoke the appropriate method against the body builder. Something similar to this:

[code]

Probably multiple overloaded extension methods would be required in order to handle various parameter types.

[2019-05-06 20:27] Pathoschild commented on #88
The idea is for the body builder to support multiple formats and be a clean place for custom extensions, without cluttering the root level. Currently there's one `WithBody` method in root IntelliSense:
[code]

My concern is that adding those extensions would make the root IntelliSense more cluttered and harder to read as we add more formats:
[code]

In contrast, with the builder approach:
[code]

[2019-05-07 05:04] WebDucer commented on #88
@Pathoschild I like the clean and short approach with only `.WithBody`. The current way with HTTPContent as paramater (if I already have the content) and body builder for more extensible way is the perfect way.

A good documentation, how to use and to extend would help to handle cutting ages by the developers itself.

I tried the preview build in my scenario and it works great (both, direct http c

[2019-05-07 15:29] Pathoschild commented on #88
@WebDucer Thanks! I improved the examples under ['HTTP body' in the readme](https://github.com/Pathoschild/FluentHttpClient#http-body); how does that look?

[2019-05-07 17:54] WebDucer commented on #88
@Pathoschild Looks good for me.

[2019-05-21 15:49] #88 closed, assigned to Pathoschild

[2019-05-24 07:15] arthurktang opened #89 "How to upload file(multipart/form-data)"
Is there any example for sending files using multipart/form-data?

[2019-05-24 16:54] Pathoschild commented on #89
It's messy since there's no fluent method for uploads:
[code]
I'll look into simplifying that in a future version though.

[2019-09-10 19:53] rajeevmv opened #90 "Using client X.509 certificate with FluentHttpClient"
Is there a way to specify a client X.509 certificate for the FluentHttpClient to use for mutual TLS authentication?

[2019-09-10 20:39] Pathoschild commented on #90
Yep. The library wraps the underlying `HttpClient`, so you can init a message handler with the certificate and pass that to the fluent client:
[code]

See [this StackOverflow question](https://stackoverflow.com/q/40014047/262123) (.NET Standard 1.3+) and [this other one](https://stackoverflow.com/q/47020011/262123) (.NET Framework 4.5–4.7) for more info.

[2019-09-10 23:47] rajeevmv commented on #90
Thanks for the quick response.

[2019-09-10 23:47] #90 closed, assigned to Pathoschild

[2020-04-22 19:44] Pathoschild commented on #89
Done in the upcoming FluentClient 4.0:
[code]

[2020-04-22 19:44] #89 closed, assigned to Pathoschild

[2020-04-22 20:58] Jericho opened #91 "Review supported frameworks"
I suggest we modernize the list of targeted frameworks in the upcoming 4.0 release. Currently, we support `net45`, `netstandard 1.3` and `netstandard2.0`

Some factors that lead me to think that we should review which frameworks we support:

- Microsoft has [not provided support for the .net framework 4.5 since January 2016](https://devblogs.microsoft.com/dotnet/support-ending-for-the-net-framewor

[2020-04-22 21:29] Pathoschild commented on #91
Hi! Newer platforms will use the `netstandard2.0` target per [those targeting guidelines](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting):

The older targets are only for backwards compatibility and have their own dependencies, so they shouldn't affect our work on newer platforms. I think high backwards compatibility is useful when possible, so you can s

[2020-04-22 23:22] Jericho commented on #91
The targeting guideline document contains the following recommendation: `AVOID including a netstandard1.x target`. That's why I am suggesting removing the `netstandard1.3` target.

It also contains the following recommendation: `CONSIDER adding a target for net461 when you're offering a netstandard2.0 target`. That's why I am suggesting adding a net461 target.

As far as the `All platforms support

[2020-04-23 00:47] Pathoschild commented on #91
Thanks for the links! Based on that discussion and [this tool](https://nugettoolsdev.azurewebsites.net/5.4.0/get-nearest-framework?project=net472&package=net45%0D%0Anetstandard1.3%0D%0Anetstandard2.0), it seems all versions of .NET Framework will use the `net45` target. That avoids the issues with `netstandard2.0` they suggest adding `net461` for, and the targets are identical for our purposes:
[c

[2020-04-26 15:53] aktxyz opened #92 "don't want to put you on the spot ... but can you compare this to flurl ... trying to pick one"

[2020-04-26 17:40] Pathoschild commented on #92
They have similar capabilities and both will work fine in the vast majority of cases, so it mostly comes down to which API you like better.

Here are some notable differences to help you decide. (I tried to be fair in the comparison, but of course I'm more familiar with FluentHttpClient. Feel free to ask the Flurl author for their perspective too.)

## Notable differences
### API design and discov

[2020-05-06 18:58] Pathoschild commented on #91
@Jericho Any objections to keeping the framework targets as-is per the above?

[2020-05-06 18:59] #92 closed, assigned to Pathoschild

[2020-05-07 16:00] Jericho commented on #91
I tried to make a case for updating the frameworks using Microsoft's guideline to back up my case and I mentioned that developers who use legacy/unsupported frameworks can simply continue using 3.x while the rest of us who are using more recent frameworks can upgrade to 4.x.

You are already introducing breaking changes in 4.0 so in my opinion it would be a perfect opportunity to update the framew

[2020-05-08 00:01] Pathoschild commented on #91
(I do think we conform to those guidelines. Compatibility with older platforms is deliberate, and the disadvantages don't apply to .NET Framework which will use `net45` or.NET Standard 2.0+ which will use `netstandard2.0`. The `netstandard1.3` target doesn't affect modern platforms, isn't holding us back on anything we want to do, and dropping it only reduces the package size by 32KB.)

[2020-05-08 00:02] #91 closed, assigned to Jericho, Pathoschild

[2020-06-02 11:30] PauliusLe opened #93 "Breaking change in WithBody"
I noticed there is undocumented breaking change in 4.0.0. Not sure if it was intentional but after [this](https://github.com/Pathoschild/FluentHttpClient/commit/61727a553acdda576ea7c792df5a2720f5ae1d2d) commit `WithBody<T>(this IRequest request, T body)` no longer accepts nulls. If it was intentional it should be documented. But I think it should accept nulls.

[2020-06-02 21:05] Pathoschild commented on #93
Fixed in the upcoming 4.0.1. Thanks for reporting it!

[2020-06-02 21:05] #93 closed, assigned to Pathoschild

[2020-06-10 12:14] zqfan opened #94 "fluentclient constructor breaks from 3.2.0 to 4.0.0"
https://github.com/Pathoschild/FluentHttpClient/blob/3.2/Client/FluentClient.cs#L57

why this public method is removed?
[code]
it seems no harm to inherit in 4.0.0, but it do break the compatibility, for advanced information please refer to this issue https://github.com/TencentCloud/tencentcloud-sdk-dotnet/issues/34

[2020-06-10 15:22] Pathoschild commented on #94
FluentHttpClient 4.0 simplifies the constructors to make usage more intuitive (e.g. it adds a default constructor and removes multiple `string` vs `Uri` overloads). The equivalent for that one is `FluentClient(Uri baseUri, IWebProxy proxy)`.

Since 4.0 is a major release with breaking changes, unfortunately you can't use it interchangeably with 3.2. I suggest either updating the SDK to use 4.0, or

[2020-09-08 07:54] icetech233 opened #95 "how to with jwt ？？？"
how to with jwt ？？？ IdentityServer4

[2020-09-08 13:13] Jericho commented on #95
I don't understand your question. Can you explain?

[2020-09-08 14:51] Pathoschild commented on #95
JWTs are usually sent as bearer tokens (though it depends on your server configuration). Once you create the token with a library like `System.IdentityModel.Tokens.Jwt`, you can set it for all requests:

[code]

Or for a single request:
[code]

[2020-09-08 14:51] #95 closed, assigned to Pathoschild

[2020-09-08 14:54] #94 closed, assigned to Pathoschild

[2021-01-01 11:56] weiwxg opened #96 "How should i do with retry policy?"
First problem is how do I use the retry mechanism for the returned object, rather than http status, as follow:
[code]
Sencondly, if i want to do somthing other like refresh cache before retry, how can i do?

[2021-01-01 16:00] Pathoschild commented on #96
Hi! You can [create a request coordinator](https://github.com/Pathoschild/FluentHttpClient#custom-retrycoordination-policy) to change how the request is sent. That lets you run code before/after the request, read the response to decide how to handle it, update your cache, resend the request, etc. For example, the default retry feature is just [a coordinator that resends the request a few times](ht

[2021-01-04 09:03] weiwxg opened #97 "How to Post with FormData?"
i use PostAsync(uri).WithArgument("","") ... get 400 bad request.

[2021-01-04 09:06] weiwxg commented on #97
![image](https://user-images.githubusercontent.com/24971860/103518662-201dcf80-4eaf-11eb-88a6-4f5fb86310c6.png)

[2021-01-04 16:15] Jericho commented on #97
Judging from the screenshot you posted, it looks like the API you are interacting with expects 3 properties (i.e. `client_id`, `client_secret` and `grant_type`) to be posted in the body of your request and furthermore it expects this data to be "URL encoded". However, the short code sample you posted indicates that you are appending the arguments to the querystring. The fact that you are not posti

[2021-01-04 17:18] Pathoschild commented on #97
Expanding on Jericho's answer, you can also do everything in one go if you want:

[code]

[2021-01-04 17:43] #96 closed, assigned to Pathoschild

[2021-01-05 00:55] weiwxg commented on #97
great! very useful to me, thanks!

[2021-01-05 00:55] #97 closed, assigned to Jericho, Pathoschild

[2021-02-01 06:39] weiwxg opened #98 "The API query failed with status code NotAcceptable: Not Acceptable"
i use `await httpClient.GetAsync("http://..../demo.jpg")` throw 406 Not Acceptable

[2021-02-01 15:45] Jericho commented on #98
You provide so little information, it's very hard for us to guess what could be going on. I understand you want to obfuscate the URL for privacy reasons but it makes it impossible for us to reproduce the problem. Therefore we are relying on you to provide additional info.

What have you tried so far during your investigation?

Can you you share your C# code with us (more than the short snippet inc

[2021-02-02 01:47] weiwxg commented on #98
i have a jpg resouce : http://ezcardfile1.namex.cn/UploadFile/user/product/picture2101/328E09727F55A7876AF4731294706D80_2.jpg
and i can display it in browser.
but when i get it as follow, it throw exception:
[code]

[2021-02-02 06:19] Pathoschild commented on #98
The server is checking your `Accept` header, which doesn't match images by default. You can fix it by setting an `Accept` header that allows any response:
[code]

[2021-02-03 03:15] #98 closed, assigned to Jericho, Pathoschild

[2021-03-05 15:33] Jericho opened #99 "Multiple retry configs"
I would like to propose an enhancement to the `RetryCoordinator` that would allow multiple retry configurations. The current coordinator only allows a single configuration which is perfect for relatively simple situations where you want to automatically retry when a given HTTP code is returned in the response, such as HTTP 429 for example.

If you have a more complex situation where there are mult

[2021-03-07 05:58] Pathoschild commented on #99
Thanks, this looks useful!

Note that the retry count is shared with this approach. So let's say we have two retry configs: `DatabaseTimeoutRetryConfig` (retry after 1 second) and `RetryWithBackoffConfig` (retry after 5, 30, and 60 seconds). If we get a database timeout followed by a different error, the second retry will be handled by `RetryWithBackoffConfig` which will skip straight to 30 second

[2021-03-08 01:59] Jericho commented on #99
I agree it's an edge case but thanks for pointing it out. The logic I designed does not account for the possibility for a request to fail for a given reason, and to fail again when retried but for a different reason.

[2021-03-10 22:43] #99 closed, assigned to Jericho

[2021-03-10 22:44] Pathoschild commented on #99
Thanks! Merged into `develop` for the upcoming FluentHttpClient 4.1.

[2021-03-17 13:44] rhomere opened #101 "Security Protocol"
How do you modify the security protocol?

[2021-03-17 13:47] #101 closed, assigned to Pathoschild

[2021-03-17 14:58] Pathoschild commented on #101
Hi! I assume you found the answer, but it might appear in search results. This is a wrapper for the built-in `HttpClient`, so you can set it the same way:

[code]

[2021-04-06 14:27] Jericho opened #102 "Modify request before retrying"
Currently the FluentHttpClient allows us to handle scenarios where a request fails (presumably due to a transient problem) and waiting a brief moment allows us to dispatch the exact same request. An example is when you exceed the number of requests that an API allows you to make in a given period of time. In this scenario, you can typically reissue the exact same request after waiting a second or

[2021-04-07 05:05] Pathoschild commented on #102
Hi! Request coordinators are meant for scenarios like that. You can only have one request coordinator currently, but you can wrap the default one with custom logic. For example:

[code]

[2021-04-07 12:27] Jericho commented on #102
I have a custom request coordinator for this purpose but I was thinking it would be simpler to allow RetryConfigs to modify the request.

[2021-05-07 15:20] Jericho opened #103 "Incorrect XML comment in FluentClientExtensions.WithOptions and FluentClientExtensions.SetOptions"
The XML comments for the two arguments have been reversed:
- the comment for `ignoreHttpErrors` says `Whether to ignore null arguments when the request is dispatched`
- the comment for `ignoreNullArguments` says `Whether HTTP error responses like HTTP 404 should be ignored; else raised as exceptions`.

[2021-05-07 15:39] #103 closed, assigned to Jericho

[2021-05-07 15:40] Pathoschild commented on #103
Thanks! Fixed via #104 for the upcoming FluentHttpClient 4.1.1.

[2021-11-17 21:45] muveso opened #105 "unity il2cpp build error"
Hi,

I want to use **FluentHttpClient** in **Unity** - Android. it works with mono builds but doesn't work with il2cpp.
I would be very grateful if you could help me resolve this issue. because there is no unity rest client service that uses async infrastructure.

[code]

[2021-11-18 03:10] Pathoschild commented on #105
Hi! Which .NET profile are you using in Unity?

[2021-11-18 07:26] muveso commented on #105
@Pathoschild I am using .NET 4.x APIs.

[2021-11-22 03:08] Pathoschild commented on #105
@muveso The error is happening in the lower-level .NET `HttpClient` due to [part of .NET Framework](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.xsddatacontractexporter?view=netframework-4.7) being unimplemented. I don't use Unity myself, but this bit from [_Using .NET 4.x in Unity: IL2CPP Considerations_](https://docs.microsoft.com/en-us/visualstudio/gamedev/unity/unit

[2022-02-25 19:26] brunocampiol opened #106 "Change default behavior for server errors"
Hi,

I am trying to find a way to change default behavior "**By default the client will throw ApiException if the server returns an error code**"

I know I can easily change the current and next http calls to not throw exceptions by following the example here [https://github.com/Pathoschild/FluentHttpClient#handle-errors](https://github.com/Pathoschild/FluentHttpClient#handle-errors)

But I would

[2022-02-25 23:46] Pathoschild commented on #106
Hi! Since you have a `Startup.cs`, I assume you're working on an ASP.NET Core app? If so you can use [dependency injection](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection) to configure the client in one place.

You can either create a common HTTP client and inject it into your controllers or other classes that need it:
[code]
[code]

Or if you want to configure mult

[2022-02-25 23:46] #105 closed, assigned to Pathoschild

[2022-02-28 14:03] brunocampiol commented on #106
HI thanks a lot for replying and sorry to delay on feedback.

Yes, I am using net core 3.1 for a web api application. I've tried to follow but I guess I have some differences between the pure FluentHttpClient and the one used in the company. But that's a great answer.

Let me get back to the people who wrote this code. I'll let you know if I need more info.

[2022-06-23 00:07] #106 closed, assigned to Pathoschild

[2022-07-12 20:47] Huntk23 commented on #87
Perhaps this is no longer a problem? When I search `FluentHttpClient` it is 3rd in my list.

![image](https://user-images.githubusercontent.com/3951241/178592294-7a96d581-73e9-44a6-af07-49dee53b2271.png)

[2022-07-13 04:12] Pathoschild commented on #87
Yeah, and it doesn't seem like we'll ever have a good way to change NuGet package IDs, so I think we can close this.

[2022-07-13 04:12] #87 closed, assigned to nobody

[2022-08-04 16:54] Jericho opened #110 "Enforce maximum request size"
I interface with a 3rd party API and I know that my requests will be rejected if they exceed a given maximum size. For example, I can attach multiple files when I POST to an endpoint but my request must not exceed 10MB. If I am not careful, I could add multiple files to my request which would grow in size to be much more than the allowed 10MB. I would needlessly upload all this content to the API

[2022-08-09 00:18] Pathoschild commented on #110
Thanks for the PR! It seems a bit specialized to be its own feature though. I'd suggest using a request filter instead, which is designed to support custom validation like that. For example:

[code]
[code]

If you need to configure it per-request, we could add support for setting filters per-request too.

[2022-08-09 14:34] Jericho commented on #110
You're right: a filter is a much better idea. I should have thought of that!

As far as configuring it per-request, here's what I came up with:
[code]

Thanks for helping me think through this scenario and for suggesting a solution that is simpler and better than what I had come up with. Feel free to close this issue and the related PR.

[2022-08-09 15:31] Jericho commented on #110
By the way, `Filters.Remove` followed by `Filters.Add` works fine but it's not "fluent". Maybe adding a "WithFilter" method to `IRequest` and `Request` would be more elegant. Something as simple as this:

[code]

This would allow me to change my code to:
[code]

[2022-08-09 17:58] Pathoschild commented on #110
Yep, that's what I was thinking. I wouldn't remove previous filters automatically though, since that wouldn't always be what you want. For example:
[code]

We could add something like `.WithoutFilter<T>()`, but you might not need it since the `WithFilter` would only apply for the request you're configuring now.

[2022-08-09 18:01] Jericho commented on #110
In my scenario, I always want the global filter to be replaced but it did occur to me that it might not be the case for every scenario. I propose improving my suggestion like so:
[code]

[2022-10-07 03:21] Pathoschild commented on #110
Done in #112 (thanks for the PR!). The new fluent equivalent is:
[code]

[2022-10-07 03:24] #110 closed, assigned to Jericho